In [35]:
import pandas as pd
import os

### **1. wcvp distribution data**

In [36]:
base_folder = "original_data"

In [37]:
wd_path = os.path.join(base_folder, "wcvp", "wcvp_distribution.csv")
data_distribution = pd.read_csv(wd_path, sep="|", low_memory=False)

In [38]:
data_distribution.head(1)

,plant_locality_id,plant_name_id,continent_code_l1,continent,region_code_l2,region,area_code_l3,area,introduced,extinct,location_doubtful
0,1394111,1,8,SOUTHERN AMERICA,80.0,Central America,COS,Costa Rica,0,0,0

In [39]:
for col in data_distribution.columns:
    print(col, data_distribution[col].is_unique)

plant_locality_id True
plant_name_id False
continent_code_l1 False
continent False
region_code_l2 False
region False
area_code_l3 False
area False
introduced False
extinct False
location_doubtful False

In [40]:
data_distribution.iloc[1, :]

plant_locality_id                   1394112
plant_name_id                             1
continent_code_l1                         8
continent                  SOUTHERN AMERICA
region_code_l2                         82.0
region               Northern South America
area_code_l3                            VEN
area                              Venezuela
introduced                                0
extinct                                   0
location_doubtful                         0
Name: 1, dtype: object

In [41]:
# data description
# data_distribution.describe()

In [42]:
# data columns
data_distribution.columns

Index(['plant_locality_id', 'plant_name_id', 'continent_code_l1', 'continent',
       'region_code_l2', 'region', 'area_code_l3', 'area', 'introduced',
       'extinct', 'location_doubtful'],
      dtype='object')

##### **1.1 datatype**

In [43]:
data_distribution.dtypes

plant_locality_id      int64
plant_name_id          int64
continent_code_l1      int64
continent             object
region_code_l2       float64
region                object
area_code_l3          object
area                  object
introduced             int64
extinct                int64
location_doubtful      int64
dtype: object

##### **1.2 null, NANs entries**

In [44]:
data_distribution.isnull().any()

plant_locality_id    False
plant_name_id        False
continent_code_l1    False
continent            False
region_code_l2        True
region                True
area_code_l3          True
area                  True
introduced           False
extinct              False
location_doubtful    False
dtype: bool

### **2. wcvp names data**

In [45]:
wn_path = os.path.join(base_folder, "wcvp", "wcvp_names.csv")
data_names = pd.read_csv(wn_path, sep="|", low_memory=False)

In [46]:
for col in data_names.columns:
    print(col, data_names[col].is_unique)

plant_name_id True
ipni_id False
taxon_rank False
taxon_status False
family False
genus_hybrid False
genus False
species_hybrid False
species False
infraspecific_rank False
infraspecies False
parenthetical_author False
primary_author False
publication_author False
place_of_publication False
volume_and_page False
first_published False
nomenclatural_remarks False
geographic_area False
lifeform_description False
climate_description False
taxon_name False
taxon_authors False
accepted_plant_name_id False
basionym_plant_name_id False
replaced_synonym_author False
homotypic_synonym False
parent_plant_name_id False
powo_id True
hybrid_formula False
reviewed False

In [47]:
data_names.head(1)

,plant_name_id,ipni_id,taxon_rank,taxon_status,family,genus_hybrid,genus,species_hybrid,species,infraspecific_rank,...,taxon_name,taxon_authors,accepted_plant_name_id,basionym_plant_name_id,replaced_synonym_author,homotypic_synonym,parent_plant_name_id,powo_id,hybrid_formula,reviewed
0,3018447,77112035-1,Species,Synonym,Melastomataceae,NaN,Behuria,NaN,magdalenensis,NaN,...,Behuria magdalenensis,(Brade) R.Tav. & Baumgratz,3236084.0,3024122.0,NaN,T,NaN,77112035-1,NaN,N

In [48]:
data_names.iloc[1, :]

plant_name_id                               3011086
ipni_id                                  60473329-2
taxon_rank                                  Species
taxon_status                               Accepted
family                               Pittosporaceae
genus_hybrid                                    NaN
genus                                 Rhytidosporum
species_hybrid                                  NaN
species                                  procumbens
infraspecific_rank                              NaN
infraspecies                                    NaN
parenthetical_author                          Hook.
primary_author                             F.Muell.
publication_author                              NaN
place_of_publication                   Pl. Victoria
volume_and_page                               1: 75
first_published                              (1862)
nomenclatural_remarks                           NaN
geographic_area                  E. & SE. Australia
lifeform_description                       subshrub
climate_description                     subtropical
taxon_name                 Rhytidosporum procumbens
taxon_authors                      (Hook.) F.Muell.
accepted_plant_name_id                    3011086.0
basionym_plant_name_id                    2571583.0
replaced_synonym_author                         NaN
homotypic_synonym                               NaN
parent_plant_name_id                      3011085.0
powo_id                                  60473329-2
hybrid_formula                                  NaN
reviewed                                          N
Name: 1, dtype: object

In [49]:
data_names.loc[:, "homotypic_synonym"].unique()

array(['T', nan], dtype=object)

In [50]:
data_names.columns

Index(['plant_name_id', 'ipni_id', 'taxon_rank', 'taxon_status', 'family',
       'genus_hybrid', 'genus', 'species_hybrid', 'species',
       'infraspecific_rank', 'infraspecies', 'parenthetical_author',
       'primary_author', 'publication_author', 'place_of_publication',
       'volume_and_page', 'first_published', 'nomenclatural_remarks',
       'geographic_area', 'lifeform_description', 'climate_description',
       'taxon_name', 'taxon_authors', 'accepted_plant_name_id',
       'basionym_plant_name_id', 'replaced_synonym_author',
       'homotypic_synonym', 'parent_plant_name_id', 'powo_id',
       'hybrid_formula', 'reviewed'],
      dtype='object')

##### **2.1 datatype**

In [51]:
data_names.dtypes

plant_name_id                int64
ipni_id                     object
taxon_rank                  object
taxon_status                object
family                      object
genus_hybrid                object
genus                       object
species_hybrid              object
species                     object
infraspecific_rank          object
infraspecies                object
parenthetical_author        object
primary_author              object
publication_author          object
place_of_publication        object
volume_and_page             object
first_published             object
nomenclatural_remarks       object
geographic_area             object
lifeform_description        object
climate_description         object
taxon_name                  object
taxon_authors               object
accepted_plant_name_id     float64
basionym_plant_name_id     float64
replaced_synonym_author     object
homotypic_synonym           object
parent_plant_name_id       float64
powo_id                     object
hybrid_formula              object
reviewed                    object
dtype: object

##### **2.2 null, NANs entries**

In [52]:
data_names.isnull().any().to_frame()

                             0
plant_name_id            False
ipni_id                   True
taxon_rank                True
taxon_status             False
family                   False
genus_hybrid              True
genus                    False
species_hybrid            True
species                   True
infraspecific_rank        True
infraspecies              True
parenthetical_author      True
primary_author            True
publication_author        True
place_of_publication      True
volume_and_page           True
first_published           True
nomenclatural_remarks     True
geographic_area           True
lifeform_description      True
climate_description       True
taxon_name               False
taxon_authors             True
accepted_plant_name_id    True
basionym_plant_name_id    True
replaced_synonym_author   True
homotypic_synonym         True
parent_plant_name_id      True
powo_id                  False
hybrid_formula            True
reviewed                  True

**Handling Duplicates**

In [ ]:
# print(
#     "Duplicates in wcvp_distribution:",
#     data_distribution["plant_name_id"].duplicated().sum(),
# )
# print("Duplicates in wcvp_names:", data_names["plant_name_id"].duplicated().sum())
# # Drop duplicates in wcvp_names based on 'plant_name_id'
# wcvp_distrubution = data_distribution.drop_duplicates(
#     subset=["plant_name_id"], keep="first"
# )
# print(wcvp_distrubution.head())
# print(
#     "Duplicates in wcvp_distribution after dropping them:",
#     wcvp_distrubution["plant_name_id"].duplicated().sum(),
# )

In [54]:
# Merge the two datasets on the 'plant_name_id' column
combined_data = pd.merge(data_names, data_distribution, on="plant_name_id", how="inner")

# Check the first few rows of the combined data
print(combined_data.head())

# Check the shape of the combined data
print(combined_data.shape)

# export combined_data to a csv file
# combined_data.to_csv('combined_data.csv', index=False)

   plant_name_id     ipni_id taxon_rank taxon_status          family  \
0        3011086  60473329-2    Species     Accepted  Pittosporaceae
1        3011086  60473329-2    Species     Accepted  Pittosporaceae
2        3011086  60473329-2    Species     Accepted  Pittosporaceae
3        3011086  60473329-2    Species     Accepted  Pittosporaceae
4        3011086  60473329-2    Species     Accepted  Pittosporaceae

  genus_hybrid          genus species_hybrid     species infraspecific_rank  \
0          NaN  Rhytidosporum            NaN  procumbens                NaN
1          NaN  Rhytidosporum            NaN  procumbens                NaN
2          NaN  Rhytidosporum            NaN  procumbens                NaN
3          NaN  Rhytidosporum            NaN  procumbens                NaN
4          NaN  Rhytidosporum            NaN  procumbens                NaN

   ... plant_locality_id continent_code_l1    continent region_code_l2  \
0  ...           3139049                 5  AUSTRALASIA           50.0
1  ...           3139048                 5  AUSTRALASIA           50.0
2  ...           3139051                 5  AUSTRALASIA           50.0
3  ...           3139052                 5  AUSTRALASIA           50.0
4  ...           3139050                 5  AUSTRALASIA           50.0

      region area_code_l3             area introduced extinct  \
0  Australia          NSW  New South Wales          0       0
1  Australia          QLD       Queensland          0       0
2  Australia          SOA  South Australia          0       0
3  Australia          TAS         Tasmania          0       0
4  Australia          VIC         Victoria          0       0

  location_doubtful
0                 0
1                 0
2                 0
3                 0
4                 0

[5 rows x 41 columns]
(1970252, 41)

In [55]:
combined_data.columns

Index(['plant_name_id', 'ipni_id', 'taxon_rank', 'taxon_status', 'family',
       'genus_hybrid', 'genus', 'species_hybrid', 'species',
       'infraspecific_rank', 'infraspecies', 'parenthetical_author',
       'primary_author', 'publication_author', 'place_of_publication',
       'volume_and_page', 'first_published', 'nomenclatural_remarks',
       'geographic_area', 'lifeform_description', 'climate_description',
       'taxon_name', 'taxon_authors', 'accepted_plant_name_id',
       'basionym_plant_name_id', 'replaced_synonym_author',
       'homotypic_synonym', 'parent_plant_name_id', 'powo_id',
       'hybrid_formula', 'reviewed', 'plant_locality_id', 'continent_code_l1',
       'continent', 'region_code_l2', 'region', 'area_code_l3', 'area',
       'introduced', 'extinct', 'location_doubtful'],
      dtype='object')

### **3. selecting random sample for test data**

In [56]:
# Get unique values for each column
unique_values = {col: combined_data[col].unique() for col in combined_data.columns}

# Print the number of unique values for each column
for col, values in unique_values.items():
    print(f"'{col}' has {len(values)} unique values.")

'plant_name_id' has 440341 unique values.
'ipni_id' has 437358 unique values.
'taxon_rank' has 11 unique values.
'taxon_status' has 3 unique values.
'family' has 458 unique values.
'genus_hybrid' has 2 unique values.
'genus' has 15155 unique values.
'species_hybrid' has 2 unique values.
'species' has 115185 unique values.
'infraspecific_rank' has 9 unique values.
'infraspecies' has 26045 unique values.
'parenthetical_author' has 11631 unique values.
'primary_author' has 42934 unique values.
'publication_author' has 1045 unique values.
'place_of_publication' has 8364 unique values.
'volume_and_page' has 125584 unique values.
'first_published' has 757 unique values.
'nomenclatural_remarks' has 200 unique values.
'geographic_area' has 67643 unique values.
'lifeform_description' has 354 unique values.
'climate_description' has 10 unique values.
'taxon_name' has 440045 unique values.
'taxon_authors' has 99250 unique values.
'accepted_plant_name_id' has 430018 unique values.
'basionym_plant_name_id' has 120579 unique values.
'replaced_synonym_author' has 2769 unique values.
'homotypic_synonym' has 1 unique values.
'parent_plant_name_id' has 35631 unique values.
'powo_id' has 440341 unique values.
'hybrid_formula' has 8404 unique values.
'reviewed' has 3 unique values.
'plant_locality_id' has 1970252 unique values.
'continent_code_l1' has 9 unique values.
'continent' has 9 unique values.
'region_code_l2' has 53 unique values.
'region' has 53 unique values.
'area_code_l3' has 372 unique values.
'area' has 369 unique values.
'introduced' has 2 unique values.
'extinct' has 2 unique values.
'location_doubtful' has 2 unique values.

In [48]:
print(combined_data["genus_hybrid"].unique())

[nan '×']

In [ ]:
# Define the columns to include in the test dataset
columns_of_interest = [
    "taxon_rank",
    "taxon_status",
    "family",
    "genus_hybrid",
    "species_hybrid",
    "infraspecific_rank",
    "climate_description",
    "area",
    "introduced",
    "extinct",
    "location_doubtful",
]

# Initialize an empty DataFrame for the test data
test_data = pd.DataFrame()

# Loop through each column and extract rows with unique values
for col in columns_of_interest:
    unique_rows = combined_data.drop_duplicates(subset=[col])
    test_data = pd.concat([test_data, unique_rows], ignore_index=True)

# Drop duplicates across all columns
test_data = test_data.drop_duplicates()

# Limit the sample to 15 rows while maintaining diversity
test_data = test_data.sample(n=770, random_state=42)

# Check the shape and preview the test dataset
print(f"Test dataset shape: {test_data.shape}")
test_data

Test dataset shape: (770, 41)

,plant_name_id,ipni_id,taxon_rank,taxon_status,family,genus_hybrid,genus,species_hybrid,species,infraspecific_rank,...,plant_locality_id,continent_code_l1,continent,region_code_l2,region,area_code_l3,area,introduced,extinct,location_doubtful
670,2903229,77109564-1,Species,Accepted,Acanthaceae,NaN,Barleria,NaN,gracilispina,NaN,...,2308330,2,AFRICA,24.0,Northeast Tropical Africa,SOM,Somalia,0,0,0
662,2607934,77086157-1,Species,Accepted,Brassicaceae,NaN,Neuontobotrys,NaN,polyphyllus,NaN,...,2306533,8,SOUTHERN AMERICA,85.0,Southern South America,AGW,Argentina Northwest,0,0,0
613,413225,401587-1,Species,Accepted,Poaceae,NaN,Eragrostis,NaN,squamata,NaN,...,669574,2,AFRICA,21.0,Macaronesia,CVI,Cape Verde,0,0,0
722,411528,400420-1,Species,Accepted,Poaceae,NaN,Elymus,NaN,sajanensis,NaN,...,558181,3,ASIA-TEMPERATE,30.0,Siberia,ALT,Altay,0,0,0
537,3132307,36451-2,Species,Accepted,Asteraceae,NaN,Brickellia,NaN,leptophylla,NaN,...,4899199,7,NORTHERN AMERICA,73.0,Northwestern U.S.A.,COL,Colorado,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
461,254248,565393-1,Species,Accepted,Mayacaceae,NaN,Mayaca,NaN,kunthii,NaN,...,572966,8,SOUTHERN AMERICA,82.0,Northern South America,VEN,Venezuela,0,0,0
333,2818684,366378-1,Species,Accepted,Geissolomataceae,NaN,Geissoloma,NaN,marginatum,NaN,...,2180948,2,AFRICA,27.0,Southern Africa,CPP,Cape Provinces,0,0,0
217,56456,989556-1,Species,Accepted,Daphniphyllaceae,NaN,Daphniphyllum,NaN,sumatraense,NaN,...,22889,4,ASIA-TROPICAL,42.0,Malesia,SUM,Sumatera,0,0,0
469,514414,554479-1,Species,Accepted,Eupteleaceae,NaN,Euptelea,NaN,pleiosperma,NaN,...,826518,3,ASIA-TEMPERATE,36.0,China,CHC,China South-Central,0,0,0
124,2842261,966587-1,Subspecies,Accepted,Cistaceae,NaN,Helianthemum,NaN,apenninum,subsp.,...,4462324,1,EUROPE,12.0,Southwestern Europe,SPA,Spain,0,0,0

In [ ]:
taxon_rank_row = combined_data[combined_data["taxon_rank"] == "Genus"].iloc[0]
synonym_row = combined_data[combined_data["taxon_status"] == "Local Biotype"].iloc[0]
genus_hybrid_rows = combined_data[combined_data["genus_hybrid"] == "×"].iloc[0]
species_hybrid_rows = combined_data[combined_data["species_hybrid"] == "×"].iloc[0]
extinct_hybrid_rows = combined_data[combined_data["extinct"] == 1].iloc[0]
location_doubtful_row = combined_data[combined_data["location_doubtful"] == 1].iloc[0]
combined_data["genus_hybrid"].unique()

# Append this row to the test dataset
test_data = pd.concat(
    [
        test_data,
        pd.DataFrame(
            [
                taxon_rank_row,
                synonym_row,
                genus_hybrid_rows,
                species_hybrid_rows,
                extinct_hybrid_rows,
                location_doubtful_row,
            ]
        ),
    ],
    ignore_index=True,
)

test_data

,plant_name_id,ipni_id,taxon_rank,taxon_status,family,genus_hybrid,genus,species_hybrid,species,infraspecific_rank,...,plant_locality_id,continent_code_l1,continent,region_code_l2,region,area_code_l3,area,introduced,extinct,location_doubtful
0,2903229,77109564-1,Species,Accepted,Acanthaceae,NaN,Barleria,NaN,gracilispina,NaN,...,2308330,2,AFRICA,24.0,Northeast Tropical Africa,SOM,Somalia,0,0,0
1,2607934,77086157-1,Species,Accepted,Brassicaceae,NaN,Neuontobotrys,NaN,polyphyllus,NaN,...,2306533,8,SOUTHERN AMERICA,85.0,Southern South America,AGW,Argentina Northwest,0,0,0
2,413225,401587-1,Species,Accepted,Poaceae,NaN,Eragrostis,NaN,squamata,NaN,...,669574,2,AFRICA,21.0,Macaronesia,CVI,Cape Verde,0,0,0
3,411528,400420-1,Species,Accepted,Poaceae,NaN,Elymus,NaN,sajanensis,NaN,...,558181,3,ASIA-TEMPERATE,30.0,Siberia,ALT,Altay,0,0,0
4,3132307,36451-2,Species,Accepted,Asteraceae,NaN,Brickellia,NaN,leptophylla,NaN,...,4899199,7,NORTHERN AMERICA,73.0,Northwestern U.S.A.,COL,Colorado,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
771,2988647,740571-1,Species,Local Biotype,Rosaceae,NaN,Rubus,NaN,subangulosus,NaN,...,4853209,1,EUROPE,12.0,Southwestern Europe,FRA,France,0,0,0
772,526703,77165787-1,Species,Accepted,Orchidaceae,×,Serapicamptis,NaN,erhardtiana,NaN,...,1101954,1,EUROPE,13.0,Southeastern Europe,GRC,Greece,0,0,0
773,3149740,17554390-1,Species,Accepted,Aspleniaceae,NaN,Deparia,×,lobatocrenata,NaN,...,3526221,3,ASIA-TEMPERATE,38.0,Eastern Asia,JAP,Japan,0,0,0
774,3149761,17556880-1,Species,Accepted,Aspleniaceae,NaN,Deparia,NaN,polyrhizon,NaN,...,3526323,4,ASIA-TROPICAL,40.0,Indian Subcontinent,SRL,Sri Lanka,0,1,0
775,3009908,77152071-1,Species,Accepted,Brassicaceae,NaN,Odontarrhena,NaN,syriaca,NaN,...,2839974,3,ASIA-TEMPERATE,34.0,Western Asia,LBS,Lebanon-Syria,0,0,1

In [ ]:
# export test data to a csv file
test_data.to_csv("../data/test_data/test_data.csv", index=False)

**4. Using unique data from combined_data csv file**

In [ ]:
# Initialize an empty DataFrame for the filtered data
filtered_data = pd.DataFrame()

columns_of_interest = [
    "taxon_rank",
    "taxon_status",
    "family",
    "genus_hybrid",
    "species_hybrid",
    "infraspecific_rank",
    "climate_description",
    "area",
    "introduced",
    "extinct",
    "location_doubtful",
]

# Loop through each column of interest to extract unique values
for col in columns_of_interest:
    unique_values = combined_data[col].drop_duplicates()

    for value in unique_values:
        matching_rows = combined_data[combined_data[col] == value]
        filtered_data = pd.concat([filtered_data, matching_rows], ignore_index=True)

# Drop duplicates across all columns to ensure unique rows
filtered_data = filtered_data.drop_duplicates()

In [ ]:
# Extract specific rows if needed
taxon_rank_row = (
    combined_data[combined_data["taxon_rank"] == "Genus"].iloc[0]
    if not combined_data[combined_data["taxon_rank"] == "Genus"].empty
    else None
)
synonym_row = (
    combined_data[combined_data["taxon_status"] == "Local Biotype"].iloc[0]
    if not combined_data[combined_data["taxon_status"] == "Local Biotype"].empty
    else None
)
genus_hybrid_row = (
    combined_data[combined_data["genus_hybrid"] == "×"].iloc[0]
    if not combined_data[combined_data["genus_hybrid"] == "×"].empty
    else None
)
species_hybrid_row = (
    combined_data[combined_data["species_hybrid"] == "×"].iloc[0]
    if not combined_data[combined_data["species_hybrid"] == "×"].empty
    else None
)
extinct_row = (
    combined_data[combined_data["extinct"] == 1].iloc[0]
    if not combined_data[combined_data["extinct"] == 1].empty
    else None
)
location_doubtful_row = (
    combined_data[combined_data["location_doubtful"] == 1].iloc[0]
    if not combined_data[combined_data["location_doubtful"] == 1].empty
    else None
)

# Create a list of rows to append
rows_to_append = [
    taxon_rank_row,
    synonym_row,
    genus_hybrid_row,
    species_hybrid_row,
    extinct_row,
    location_doubtful_row,
]

# Filter out None values (in case any of the specific rows were not found)
rows_to_append = [row for row in rows_to_append if row is not None]

# Append these rows to the filtered dataset
if rows_to_append:
    filtered_data = pd.concat(
        [filtered_data, pd.DataFrame(rows_to_append)], ignore_index=True
    )

# Drop duplicates again after appending
filtered_data = filtered_data.drop_duplicates()

In [25]:
# Check for null values
null_summary = filtered_data.isnull().sum()
print("Null values in each column:")
print(null_summary)

Null values in each column:
plant_name_id                   0
ipni_id                      2984
taxon_rank                      2
taxon_status                    0
family                          0
genus_hybrid               439847
genus                           0
species_hybrid             431946
species                     14076
infraspecific_rank         384857
infraspecies               384855
parenthetical_author       328529
primary_author              20040
publication_author         410719
place_of_publication          162
volume_and_page             20428
first_published             20392
nomenclatural_remarks      437494
geographic_area               919
lifeform_description       121580
climate_description         56789
taxon_name                      0
taxon_authors               20039
accepted_plant_name_id      10324
basionym_plant_name_id     319763
replaced_synonym_author    431000
homotypic_synonym          440341
parent_plant_name_id        14123
powo_id                         0
hybrid_formula             431805
reviewed                       59
plant_locality_id               0
continent_code_l1               0
continent                       0
region_code_l2                104
region                        104
area_code_l3                 1321
area                         1322
introduced                      0
extinct                         0
location_doubtful               0
dtype: int64

In [ ]:
genus_species_info = filtered_data[
    ["plant_name_id", "ipni_id", "species", "genus"]
].drop_duplicates()

# Display the result
print("\n Plant_id, ipni_id, Species, and Genus:")
print(genus_species_info)


my_combined_data = filtered_data.merge(genus_species_info).drop_duplicates(
    ["plant_name_id", "ipni_id", "species", "genus"]
)

# Display the filtered data
print("\nFiltered Data based on unique combinations:")
print(my_combined_data)

 Plant_id, ipni_id, Species, and Genus:
        plant_name_id     ipni_id          species          genus
0             3011086  60473329-2       procumbens  Rhytidosporum
1              108386    972411-1     suffruticosa    Larsenaikia
2             3052127   1053324-2          cordata  Vernonanthura
3             3302520  77333177-1         texensis     Chthamalia
4             2902742  77111840-1       flabellata     Oreocharis
...               ...         ...              ...            ...
440336        3223566  77187815-1        pendulina          Salix
440337        3278305         NaN  podospermifolia      Centaurea
440338        2577476         NaN      polymorphum      Polygonum
440339        2931687         NaN           rhoeas        Papaver
440340        2934837  77221902-1    anthriscoides   Conioselinum

[440341 rows x 4 columns]

Filtered Data based on unique combinations:
        plant_name_id     ipni_id taxon_rank taxon_status          family  \
0             3011086  60473329-2    Species     Accepted  Pittosporaceae
1              108386    972411-1    Species     Accepted       Rubiaceae
2             3052127   1053324-2    Species     Accepted      Asteraceae
3             3302520  77333177-1    Species     Accepted     Apocynaceae
4             2902742  77111840-1    Species     Accepted    Gesneriaceae
...               ...         ...        ...          ...             ...
440336        3223566  77187815-1    nothof.     Accepted      Salicaceae
440337        3278305         NaN    nothof.     Unplaced      Asteraceae
440338        2577476         NaN     modif.     Unplaced    Polygonaceae
440339        2931687         NaN        NaN     Unplaced    Papaveraceae
440340        2934837  77221902-1        NaN     Unplaced        Apiaceae

       genus_hybrid          genus species_hybrid          species  \
0               NaN  Rhytidosporum            NaN       procumbens
1               NaN    Larsenaikia            NaN     suffruticosa
2               NaN  Vernonanthura            NaN          cordata
3               NaN     Chthamalia            NaN         texensis
4               NaN     Oreocharis            NaN       flabellata
...             ...            ...            ...              ...
440336          NaN          Salix              ×        pendulina
440337          NaN      Centaurea            NaN  podospermifolia
440338          NaN      Polygonum            NaN      polymorphum
440339          NaN        Papaver            NaN           rhoeas
440340          NaN   Conioselinum            NaN    anthriscoides

       infraspecific_rank  ... plant_locality_id continent_code_l1  \
0                     NaN  ...           3139049                 5
1                     NaN  ...             44078                 5
2                     NaN  ...           3381240                 7
3                     NaN  ...           4900109                 7
4                     NaN  ...           2458503                 3
...                   ...  ...               ...               ...
440336            nothof.  ...           4475636                 8
440337            nothof.  ...           4841760                 1
440338             modif.  ...           4395180                 7
440339                NaN  ...           2419363                 1
440340                NaN  ...           4455400                 3

               continent region_code_l2                  region area_code_l3  \
0            AUSTRALASIA           50.0               Australia          NSW
1            AUSTRALASIA           50.0               Australia          NTA
2       NORTHERN AMERICA           79.0                  Mexico          MXC
3       NORTHERN AMERICA           77.0    South-Central U.S.A.          TEX
4         ASIA-TEMPERATE           36.0                   China          CHC
...                  ...            ...                     ...          ...
440336  SOUTHERN AMERICA           85.0  Southern South America          AGE
440337            EUROPE           12.0     Southwestern Europe          SPA
440338  NORTHERN AMERICA           73.0     Northwestern U.S.A.          WAS
440339            EUROPE           10.0         Northern Europe          GRB
440340    ASIA-TEMPERATE           36.0                   China          CHC

                       area introduced extinct location_doubtful
0           New South Wales          0       0                 0
1        Northern Territory          0       0                 0
2            Mexico Central          0       0                 0
3                     Texas          0       0                 0
4       China South-Central          0       0                 0
...                     ...        ...     ...               ...
440336  Argentina Northeast          1       0                 0
440337                Spain          0       0                 0
440338           Washington          0       0                 0
440339        Great Britain          0       0                 0
440340  China South-Central          0       0                 0

[440341 rows x 41 columns]

In [ ]:
my_combined_data.to_csv("../data/test_data/combined_data.csv", index=False)

**Replacing null/NaN with Unknown**

In [ ]:
fill_values = {
    "ipni_id": "Unknown",
    "taxon_rank": "Unknown",
    "taxon_status": "Unknown",
    "family": "Unknown",
    "genus_hybrid": "Unknown",
    "genus": "Unknown",
    "species_hybrid": "Unknown",
    "species": "Unknown",
    "infraspecific_rank": "Unknown",
    "infraspecies": "Unknown",
    "parenthetical_author": "Unknown",
    "primary_author": "Unknown",
    "publication_author": "Unknown",
    "place_of_publication": "Unknown",
    "volume_and_page": "Unknown",
    "first_published": "Unknown",
    "nomenclatural_remarks": "Unknown",
    "geographic_area": "Unknown",
    "lifeform_description": "Unknown",
    "climate_description": "Unknown",
    "taxon_name": "Unknown",
    "taxon_authors": "Unknown",
    "accepted_plant_name_id": "Unknown",
    "introduced": 0,
    "extinct": 0,
    "location_doubtful": 0,
}

In [53]:
# Fill null values in the DataFrame
combined_data.fillna(fill_values, inplace=True)

In [54]:
# Check the shape and preview the cleaned dataset
print(f"Cleaned dataset shape after handling nulls: {combined_data.shape}")
print(combined_data)

Cleaned dataset shape after handling nulls: (440341, 41)
        plant_name_id     ipni_id taxon_rank taxon_status           family  \
0             3011086  60473329-2    Species     Accepted   Pittosporaceae
1              108386    972411-1    Species     Accepted        Rubiaceae
2             3052127   1053324-2    Species     Accepted       Asteraceae
3             3302520  77333177-1    Species     Accepted      Apocynaceae
4             2902742  77111840-1    Species     Accepted     Gesneriaceae
...               ...         ...        ...          ...              ...
440336        3189871  30010104-2      Genus     Accepted  Saccolomataceae
440337        3189881  17312210-1      Genus     Accepted      Cyatheaceae
440338        2435545     40604-1      Genus     Accepted         Apiaceae
440339        2437244    329934-2      Genus     Accepted  Balanophoraceae
440340        3043585    234970-1    Species     Accepted       Asteraceae

       genus_hybrid          genus species_hybrid       species  \
0           Unknown  Rhytidosporum        Unknown    procumbens
1           Unknown    Larsenaikia        Unknown  suffruticosa
2           Unknown  Vernonanthura        Unknown       cordata
3           Unknown     Chthamalia        Unknown      texensis
4           Unknown     Oreocharis        Unknown    flabellata
...             ...            ...            ...           ...
440336      Unknown      Saccoloma        Unknown       Unknown
440337      Unknown        Culcita        Unknown       Unknown
440338      Unknown       Tilingia        Unknown       Unknown
440339      Unknown     Thonningia        Unknown       Unknown
440340      Unknown         Olgaea        Unknown    longifolia

       infraspecific_rank  ... plant_locality_id continent_code_l1  \
0                 Unknown  ...           3139049                 5
1                 Unknown  ...             44078                 5
2                 Unknown  ...           3381240                 7
3                 Unknown  ...           4900109                 7
4                 Unknown  ...           2458503                 3
...                   ...  ...               ...               ...
440336            Unknown  ...           4823692                 2
440337            Unknown  ...           4824029                 1
440338            Unknown  ...           4651166                 3
440339            Unknown  ...           4652035                 2
440340            Unknown  ...           3372466                 3

               continent region_code_l2                region area_code_l3  \
0            AUSTRALASIA           50.0             Australia          NSW
1            AUSTRALASIA           50.0             Australia          NTA
2       NORTHERN AMERICA           79.0                Mexico          MXC
3       NORTHERN AMERICA           77.0  South-Central U.S.A.          TEX
4         ASIA-TEMPERATE           36.0                 China          CHC
...                  ...            ...                   ...          ...
440336            AFRICA           29.0  Western Indian Ocean          MDG
440337            EUROPE           12.0   Southwestern Europe          POR
440338    ASIA-TEMPERATE           30.0               Siberia          CTA
440339            AFRICA           22.0  West Tropical Africa          BEN
440340    ASIA-TEMPERATE           32.0           Middle Asia          KGZ

                       area introduced extinct location_doubtful
0           New South Wales          0       0                 0
1        Northern Territory          0       0                 0
2            Mexico Central          0       0                 0
3                     Texas          0       0                 0
4       China South-Central          0       0                 0
...                     ...        ...     ...               ...
440336           Madagascar          0       0                 0
440337             Portugal          0       0                 0
440338                Chita          0       0                 0
440339                Benin          0       0                 0
440340           Kirgizstan          0       0                 0

[440341 rows x 41 columns]

In [ ]:
combined_data.to_csv("../data/test_data/combined_data.csv", index=False)

''' Unable to Import Combined csv file in MYSQL due to large dataset, Therefore, used a test_data file to query and analyze our data. '''

SQL Models

In [ ]:
from sqlalchemy import (
    Column,
    String,
    Integer,
    Boolean,
    Float,
    ForeignKey,
    Text,
    create_engine,
)
from sqlalchemy.orm import relationship, DeclarativeBase, mapped_column
from sqlalchemy.orm import Mapped

In [ ]:
from sqlalchemy import Column, String, Integer, ForeignKey, Boolean, Date, Table, Text
from sqlalchemy.orm import relationship, declarative_base, mapped_column
from sqlalchemy.orm import Mapped

Base = declarative_base()

# Association table for many-to-many relationship between Plant and GeographicArea
plant_geographic_area = Table(
    "plant_geographic_area",
    Base.metadata,
    Column("plant_id", Integer, ForeignKey("plant.plant_name_id")),
    Column("geographic_area_id", Integer, ForeignKey("geographic_area.id")),
)


class Family(Base):
    __tablename__ = "family"

    id: Mapped[int] = mapped_column(primary_key=True, autoincrement=True)
    name: Mapped[str] = mapped_column(unique=True)
    genera: Mapped[list["Genus"]] = relationship(
        "Genus", back_populates="family", cascade="all, delete-orphan"
    )

    def __repr__(self) -> str:
        return f"<Family: name={self.name}>"


class Genus(Base):
    __tablename__ = "genus"

    id: Mapped[int] = mapped_column(primary_key=True, autoincrement=True)
    name: Mapped[str] = mapped_column(unique=True)
    genus_hybrid: Mapped[bool] = mapped_column(default=False)
    family_id: Mapped[int] = mapped_column(ForeignKey("family.id"))
    family: Mapped["Family"] = relationship(
        "Family", back_populates="genera", cascade="all, delete-orphan"
    )
    species: Mapped[list["Species"]] = relationship(
        "Species", back_populates="genus", cascade="all, delete-orphan"
    )

    def __repr__(self) -> str:
        return f"<Genus: name={self.name}>"


class Species(Base):
    __tablename__ = "species"

    id: Mapped[int] = mapped_column(primary_key=True, autoincrement=True)
    name: Mapped[str] = mapped_column(unique=True)
    species_hybrid: Mapped[bool] = mapped_column(default=False)
    genus_id: Mapped[int] = mapped_column(ForeignKey("genus.id"))
    genus: Mapped["Genus"] = relationship(
        "Genus", back_populates="species", cascade="all, delete-orphan"
    )
    infraspecies: Mapped[list["Infraspecies"]] = relationship(
        "Infraspecies", back_populates="species", cascade="all, delete-orphan"
    )

    def __repr__(self) -> str:
        return f"<Species: name={self.name}>"


class Infraspecies(Base):
    __tablename__ = "infraspecies"

    id: Mapped[int] = mapped_column(primary_key=True, autoincrement=True)
    rank: Mapped[str] = mapped_column(default=False)
    name: Mapped[str] = mapped_column(unique=True)
    species_id: Mapped[int] = mapped_column(ForeignKey("species.id"))
    species: Mapped["Species"] = relationship(
        "Species", back_populates="infraspecies", cascade="all, delete-orphan"
    )

    def __repr__(self) -> str:
        return f"<Infraspecies: name={self.name}>"


class Continent(Base):
    __tablename__ = "continent"
    id: Mapped[int] = mapped_column(primary_key=True, autoincrement=True)
    code: Mapped[int] = mapped_column(unique=True)  # continent_code_l1
    name: Mapped[str] = mapped_column(unique=True)  # continent

    # Relationship with GeographicArea
    geographic_area: Mapped[list["GeographicArea"]] = relationship(
        back_populates="continent", cascade="all, delete-orphan"
    )

    def __repr__(self) -> str:
        return f"<Continent: name={self.name}, code={self.code}>"


class Region(Base):
    __tablename__ = "region"
    id: Mapped[int] = mapped_column(primary_key=True, autoincrement=True)
    code: Mapped[float] = mapped_column(unique=True)  # region_code_l2
    name: Mapped[str] = mapped_column(unique=True)  # region

    geographic_area: Mapped[list["GeographicArea"]] = relationship(
        back_populates="region", cascade="all, delete-orphan"
    )

    def __repr__(self) -> str:
        return f"<Region: name={self.name}, code={self.code}>"


class Area(Base):
    __tablename__ = "area"
    id: Mapped[int] = mapped_column(primary_key=True, autoincrement=True)
    code: Mapped[str] = mapped_column(unique=True, nullable=True)  # area_code_l3
    name: Mapped[str] = mapped_column(unique=True, nullable=True)  # area

    # Relationship with WCVPDistribution
    geographic_area: Mapped[list["GeographicArea"]] = relationship(
        back_populates="area", cascade="all, delete-orphan"
    )

    def __repr__(self) -> str:
        return f"<Area: name={self.name}, code={self.code}>"


class GeographicArea(Base):
    __tablename__ = "geographic_area"
    id: Mapped[int] = mapped_column(primary_key=True, autoincrement=True)
    name: Mapped[str] = mapped_column(unique=True)

    # Foreign keys
    area_id: Mapped[int] = mapped_column(ForeignKey("area.id"))
    region_id: Mapped[int] = mapped_column(ForeignKey("region.id"))
    continent_id: Mapped[int] = mapped_column(ForeignKey("continent.id"))

    plants: Mapped[list["Plant"]] = relationship(
        back_populates="geographic_area", cascade="all, delete-orphan"
    )
    # Relationship with Area
    area: Mapped[Area] = relationship(back_populates="geographic_area")
    # Relationship with Region
    region: Mapped[Region] = relationship(back_populates="geographic_area")
    # Relationship with Continent
    continent: Mapped[Continent] = relationship(back_populates="geographic_area")

    def __repr__(self) -> str:
        return f"<GeographicArea: name={self.name}>"


class Taxon(Base):
    __tablename__ = "taxon"

    id: Mapped[int] = mapped_column(Integer, primary_key=True)
    taxon_name: Mapped[str] = mapped_column(String, nullable=False, unique=True)
    hybrid_formula: Mapped[str] = mapped_column(String)

    # Relationship back to Plant
    plants: Mapped[list["Plant"]] = relationship("Plant", back_populates="taxon")

    def __repr__(self) -> str:
        return f"<Taxon: name={self.taxon_name}>"


class Publication(Base):
    __tablename__ = "publication"

    id: Mapped[int] = mapped_column(Integer, primary_key=True)
    primary_author: Mapped[str] = mapped_column(String)
    publication_author: Mapped[str] = mapped_column(String)
    volume_and_page: Mapped[str] = mapped_column(String)
    first_published: Mapped[Date] = mapped_column(Date)

    plants: Mapped[list["Plant"]] = relationship("Plant", back_populates="publication")

    def __repr__(self) -> str:
        return (
            f"<Publication: author={self.primary_author}, title={self.volume_and_page}>"
        )


class Plant(Base):
    __tablename__ = "plant"

    plant_name_id: Mapped[int] = mapped_column(Integer, primary_key=True)
    ipni_id: Mapped[str] = mapped_column(String, unique=True)
    taxon_name: Mapped[str] = mapped_column(String, nullable=False)
    hybrid_formula: Mapped[str] = mapped_column(String)
    reviewed: Mapped[bool] = mapped_column(Boolean, default=False)
    introduced: Mapped[bool] = mapped_column(Boolean, default=False)
    extinct: Mapped[bool] = mapped_column(Boolean, default=False)
    location_doubtful: Mapped[bool] = mapped_column(Boolean, default=False)

    # Foreign keys for relationships
    family_id: Mapped[int] = mapped_column(ForeignKey("family.id"))
    genus_id: Mapped[int] = mapped_column(ForeignKey("genus.id"))
    species_id: Mapped[int] = mapped_column(ForeignKey("species.id"))
    infraspecies_id: Mapped[int] = mapped_column(ForeignKey("infraspecies.id"))
    publication_id: Mapped[int] = mapped_column(ForeignKey("publication.id"))
    taxon_id: Mapped[int] = mapped_column(ForeignKey("taxon.id"))

    accepted_plant_name_id: Mapped[int] = mapped_column(
        ForeignKey("plant.plant_name_id")
    )
    basionym_plant_name_id: Mapped[int] = mapped_column(
        ForeignKey("plant.plant_name_id")
    )
    parent_plant_name_id: Mapped[int] = mapped_column(ForeignKey("plant.plant_name_id"))

    # Relationships
    family: Mapped["Family"] = relationship("Family")
    genus: Mapped["Genus"] = relationship("Genus")
    species: Mapped["Species"] = relationship("Species")
    infraspecies: Mapped["Infraspecies"] = relationship("Infraspecies")
    publication: Mapped["Publication"] = relationship(
        "Publication", back_populates="plants"
    )
    taxon: Mapped["Taxon"] = relationship("Taxon", back_populates="plants")
    geographic_areas: Mapped[list["GeographicArea"]] = relationship(
        "GeographicArea", secondary=plant_geographic_area, back_populates="plants"
    )

    accepted_plant: Mapped["Plant"] = relationship(
        "Plant", remote_side=[plant_name_id], foreign_keys=[accepted_plant_name_id]
    )
    basionym_plant: Mapped["Plant"] = relationship(
        "Plant", remote_side=[plant_name_id], foreign_keys=[basionym_plant_name_id]
    )
    parent_plant: Mapped["Plant"] = relationship(
        "Plant", remote_side=[plant_name_id], foreign_keys=[parent_plant_name_id]
    )

    def __repr__(self) -> str:
        return f"<Plant: name={self.taxon_name}>"