In [2]:
import pandas as pd

In [3]:
#path = 'C:/Users/hp/workspace/testing/Docs/wcvp_dwca/wcvp_taxon.csv'
path = "/Users/yuxiaoxuan/workspace/project-group-1/tests/data/real_data/wcvp_taxon.csv"

Loading the csv file

In [4]:
taxon_names = pd.read_csv(path, sep='|')
taxon_names

,taxonid,family,genus,specificepithet,infraspecificepithet,scientfiicname,scientfiicnameauthorship,taxonrank,taxonomicstatus,acceptednameusageid,parentnameusageid,originalnameusageid,namepublishedin,nomenclaturalstatus,taxonremarks,scientificnameid,dynamicproperties,references
0,3152012,Polypodiaceae,Elaphoglossum,discolor,NaN,Elaphoglossum discolor,(Kuhn) C.Chr.,Species,Accepted,3152012.0,3189746.0,3179959.0,Index Filic.: 306 (1905),NaN,S. Trop. America,ipni:89115-2,"{""powoid"":""89115-2"",""lifeform"":""epiphyte"",""cli...",https://powo.science.kew.org/taxon/urn:lsid:ip...
1,2741565,Crassulaceae,Crassula,capensis,NaN,Crassula capensis,(L.) Baill.,Species,Accepted,2741565.0,2741460.0,2490224.0,Hist. Pl. 3: 312 (1871),NaN,Cape Prov.,ipni:273023-1,"{""powoid"":""273023-1"",""lifeform"":""succulent tub...",https://powo.science.kew.org/taxon/urn:lsid:ip...
2,2455231,Boraginaceae,Varronia,ambigua,NaN,Varronia ambigua,(Schltdl. & Cham.) Borhidi,Species,Accepted,2455231.0,2455234.0,2736533.0,Acta Bot. Hung. 34: 388 (1988),NaN,S. Mexico,ipni:286673-2,"{""powoid"":""286673-2"",""lifeform"":""scrambling sh...",https://powo.science.kew.org/taxon/urn:lsid:ip...
3,2477793,Acanthaceae,Staurogyne,itatiaiae,NaN,Staurogyne itatiaiae,(Wawra) Leonard,Species,Accepted,2477793.0,2477851.0,2780477.0,J. Washington Acad. Sci. 27: 402 (1937),NaN,"Brazil (Rio de Janeiro, São Paulo)",ipni:243608-2,"{""powoid"":""243608-2"",""lifeform"":""subshrub or s...",https://powo.science.kew.org/taxon/urn:lsid:ip...
4,2508878,Polygonaceae,Muehlenbeckia,australis,NaN,Muehlenbeckia australis,(G.Forst.) Meisn.,Species,Accepted,2508878.0,2508883.0,2729161.0,Pl. Vasc. Gen. 1: 227 (1839),NaN,"Norfolk I., New Zealand",ipni:694738-1,"{""powoid"":""694738-1"",""lifeform"":""climbing shru...",https://powo.science.kew.org/taxon/urn:lsid:ip...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1431672,3308072,Rosaceae,Pugetia,magnieri,NaN,Pugetia magnieri,Gand.,Species,Provisionally Accepted,NaN,2962450.0,NaN,Tabul. Rhodolog.: 277 (1881),NaN,France,ipni:77328664-1,"{""powoid"":""77328664-1"",""lifeform"":"""",""climate""...",https://powo.science.kew.org/taxon/urn:lsid:ip...
1431673,3308782,Orchidaceae,Sarcoglottis,esseri,NaN,Sarcoglottis esseri,W.Bull,Species,Provisionally Accepted,NaN,185163.0,NaN,Nursery Cat. (William Bull) 1863: 6 (1863),NaN,Costa Rica,ipni:77326961-1,"{""powoid"":""77326961-1"",""lifeform"":"""",""climate""...",https://powo.science.kew.org/taxon/urn:lsid:ip...
1431674,3310127,Calceolariaceae,Calceolaria,tricolor,NaN,Calceolaria tricolor,Reider,Species,Provisionally Accepted,NaN,2690889.0,NaN,Ann. Blumisterei Gartenbesitz. 10: 179 (1834),NaN,NaN,NaN,"{""powoid"":""3310127-4"",""lifeform"":"""",""climate"":...",https://powo.science.kew.org/taxon/urn:lsid:ip...
1431675,3310939,Rosaceae,Rubus,rigidus,NaN,Rubus rigidus,Mercier,Species,Provisionally Accepted,NaN,2976315.0,NaN,"Cat. Pl. Vasc. Genève, éd. 2: 274 (1861)",", nom. illeg.",France (Jura),NaN,"{""powoid"":""3310939-4"",""lifeform"":"""",""climate"":...",https://powo.science.kew.org/taxon/urn:lsid:ip...
1431676,3310954,Scrophulariaceae,Nemesia,compacta,NaN,Nemesia × compacta,(Voss) Anon.,Species,Provisionally Accepted,NaN,2382653.0,2382675.0,Sunset Mag. 69: 39 (1932),NaN,NaN,NaN,"{""powoid"":""3310954-4"",""lifeform"":"""",""climate"":...",https://powo.science.kew.org/taxon/urn:lsid:ip...

In [5]:
taxon_names.head(10)

,taxonid,family,genus,specificepithet,infraspecificepithet,scientfiicname,scientfiicnameauthorship,taxonrank,taxonomicstatus,acceptednameusageid,parentnameusageid,originalnameusageid,namepublishedin,nomenclaturalstatus,taxonremarks,scientificnameid,dynamicproperties,references
0,3152012,Polypodiaceae,Elaphoglossum,discolor,NaN,Elaphoglossum discolor,(Kuhn) C.Chr.,Species,Accepted,3152012.0,3189746.0,3179959.0,Index Filic.: 306 (1905),NaN,S. Trop. America,ipni:89115-2,"{""powoid"":""89115-2"",""lifeform"":""epiphyte"",""cli...",https://powo.science.kew.org/taxon/urn:lsid:ip...
1,2741565,Crassulaceae,Crassula,capensis,NaN,Crassula capensis,(L.) Baill.,Species,Accepted,2741565.0,2741460.0,2490224.0,Hist. Pl. 3: 312 (1871),NaN,Cape Prov.,ipni:273023-1,"{""powoid"":""273023-1"",""lifeform"":""succulent tub...",https://powo.science.kew.org/taxon/urn:lsid:ip...
2,2455231,Boraginaceae,Varronia,ambigua,NaN,Varronia ambigua,(Schltdl. & Cham.) Borhidi,Species,Accepted,2455231.0,2455234.0,2736533.0,Acta Bot. Hung. 34: 388 (1988),NaN,S. Mexico,ipni:286673-2,"{""powoid"":""286673-2"",""lifeform"":""scrambling sh...",https://powo.science.kew.org/taxon/urn:lsid:ip...
3,2477793,Acanthaceae,Staurogyne,itatiaiae,NaN,Staurogyne itatiaiae,(Wawra) Leonard,Species,Accepted,2477793.0,2477851.0,2780477.0,J. Washington Acad. Sci. 27: 402 (1937),NaN,"Brazil (Rio de Janeiro, São Paulo)",ipni:243608-2,"{""powoid"":""243608-2"",""lifeform"":""subshrub or s...",https://powo.science.kew.org/taxon/urn:lsid:ip...
4,2508878,Polygonaceae,Muehlenbeckia,australis,NaN,Muehlenbeckia australis,(G.Forst.) Meisn.,Species,Accepted,2508878.0,2508883.0,2729161.0,Pl. Vasc. Gen. 1: 227 (1839),NaN,"Norfolk I., New Zealand",ipni:694738-1,"{""powoid"":""694738-1"",""lifeform"":""climbing shru...",https://powo.science.kew.org/taxon/urn:lsid:ip...
5,3002836,Gesneriaceae,Oreocharis,speciosa,NaN,Oreocharis speciosa,(Hemsl.) Mich.Möller & W.H.Chen,Species,Accepted,3002836.0,2386629.0,2767313.0,Candollea 69: 180 (2014),NaN,"China (S. Chingqing, W. Hubei, SW. Hunan)",ipni:77144430-1,"{""powoid"":""77144430-1"",""lifeform"":""perennial o...",https://powo.science.kew.org/taxon/urn:lsid:ip...
6,3122900,Asteraceae,Dendroviguiera,insignis,NaN,Dendroviguiera insignis,(Miranda) E.E.Schill. & Panero,Species,Accepted,3122900.0,3133751.0,3122899.0,Bot. J. Linn. Soc. 167: 326 (2011),NaN,"Mexico (Puebla, Guerrero, Oaxaca)",ipni:77115757-1,"{""powoid"":""77115757-1"",""lifeform"":"""",""climate""...",https://powo.science.kew.org/taxon/urn:lsid:ip...
7,372972,Phyllanthaceae,Heterosavia,erythroxyloides,NaN,Heterosavia erythroxyloides,(Griseb.) Petra Hoffm.,Species,Accepted,372972.0,372967.0,186539.0,Brittonia 60: 157 (2008),NaN,Cuba to Hispaniola,ipni:77094262-1,"{""powoid"":""77094262-1"",""lifeform"":""shrub or tr...",https://powo.science.kew.org/taxon/urn:lsid:ip...
8,3078832,Asteraceae,Aequatorium,jamesonii,NaN,Aequatorium jamesonii,(S.F.Blake) C.Jeffrey,Species,Accepted,3078832.0,3134244.0,3078829.0,Kew Bull. 47: 61 (1992),NaN,Colombia to Ecuador,ipni:963506-1,"{""powoid"":""963506-1"",""lifeform"":"""",""climate"":""...",https://powo.science.kew.org/taxon/urn:lsid:ip...
9,3176211,Aspleniaceae,Blechnum,doodianum,NaN,Blechnum doodianum,Christenh.,Species,Accepted,3176211.0,3189761.0,NaN,Phytotaxa 19: 19 (2011),NaN,SE. Queensland,ipni:77110560-1,"{""powoid"":""77110560-1"",""lifeform"":"""",""climate""...",https://powo.science.kew.org/taxon/urn:lsid:ip...

In [6]:
taxon_names.shape

(1431677, 18)

In [7]:
taxon_names.describe

<bound method NDFrame.describe of          taxonid            family          genus specificepithet  \
0        3152012     Polypodiaceae  Elaphoglossum        discolor
1        2741565      Crassulaceae       Crassula        capensis
2        2455231      Boraginaceae       Varronia         ambigua
3        2477793       Acanthaceae     Staurogyne       itatiaiae
4        2508878      Polygonaceae  Muehlenbeckia       australis
...          ...               ...            ...             ...
1431672  3308072          Rosaceae        Pugetia        magnieri
1431673  3308782       Orchidaceae   Sarcoglottis          esseri
1431674  3310127   Calceolariaceae    Calceolaria        tricolor
1431675  3310939          Rosaceae          Rubus         rigidus
1431676  3310954  Scrophulariaceae        Nemesia        compacta

        infraspecificepithet           scientfiicname  \
0                        NaN   Elaphoglossum discolor
1                        NaN        Crassula capensis
2                        NaN         Varronia ambigua
3                        NaN     Staurogyne itatiaiae
4                        NaN  Muehlenbeckia australis
...                      ...                      ...
1431672                  NaN         Pugetia magnieri
1431673                  NaN      Sarcoglottis esseri
1431674                  NaN     Calceolaria tricolor
1431675                  NaN            Rubus rigidus
1431676                  NaN       Nemesia × compacta

           scientfiicnameauthorship taxonrank         taxonomicstatus  \
0                     (Kuhn) C.Chr.   Species                Accepted
1                       (L.) Baill.   Species                Accepted
2        (Schltdl. & Cham.) Borhidi   Species                Accepted
3                   (Wawra) Leonard   Species                Accepted
4                 (G.Forst.) Meisn.   Species                Accepted
...                             ...       ...                     ...
1431672                       Gand.   Species  Provisionally Accepted
1431673                      W.Bull   Species  Provisionally Accepted
1431674                      Reider   Species  Provisionally Accepted
1431675                     Mercier   Species  Provisionally Accepted
1431676                (Voss) Anon.   Species  Provisionally Accepted

         acceptednameusageid  parentnameusageid  originalnameusageid  \
0                  3152012.0          3189746.0            3179959.0
1                  2741565.0          2741460.0            2490224.0
2                  2455231.0          2455234.0            2736533.0
3                  2477793.0          2477851.0            2780477.0
4                  2508878.0          2508883.0            2729161.0
...                      ...                ...                  ...
1431672                  NaN          2962450.0                  NaN
1431673                  NaN           185163.0                  NaN
1431674                  NaN          2690889.0                  NaN
1431675                  NaN          2976315.0                  NaN
1431676                  NaN          2382653.0            2382675.0

                                       namepublishedin nomenclaturalstatus  \
0                             Index Filic.: 306 (1905)                 NaN
1                              Hist. Pl. 3: 312 (1871)                 NaN
2                       Acta Bot. Hung. 34: 388 (1988)                 NaN
3              J. Washington Acad. Sci. 27: 402 (1937)                 NaN
4                         Pl. Vasc. Gen. 1: 227 (1839)                 NaN
...                                                ...                 ...
1431672                   Tabul. Rhodolog.: 277 (1881)                 NaN
1431673     Nursery Cat. (William Bull) 1863: 6 (1863)                 NaN
1431674  Ann. Blumisterei Gartenbesitz. 10: 179 (1834)                 NaN
1431675       Cat. Pl. Vasc. Genève, éd. 2: 274 (1861)       , nom. illeg.
1431676                      Sunset Mag. 69: 39 (1932)                 NaN

                               taxonremarks scientificnameid  \
0                          S. Trop. America     ipni:89115-2
1                                Cape Prov.    ipni:273023-1
2                                 S. Mexico    ipni:286673-2
3        Brazil (Rio de Janeiro, São Paulo)    ipni:243608-2
4                   Norfolk I., New Zealand    ipni:694738-1
...                                     ...              ...
1431672                              France  ipni:77328664-1
1431673                          Costa Rica  ipni:77326961-1
1431674                                 NaN              NaN
1431675                       France (Jura)              NaN
1431676                                 NaN              NaN

                                         dynamicproperties  \
0        {"powoid":"89115-2","lifeform":"epiphyte","cli...
1        {"powoid":"273023-1","lifeform":"succulent tub...
2        {"powoid":"286673-2","lifeform":"scrambling sh...
3        {"powoid":"243608-2","lifeform":"subshrub or s...
4        {"powoid":"694738-1","lifeform":"climbing shru...
...                                                    ...
1431672  {"powoid":"77328664-1","lifeform":"","climate"...
1431673  {"powoid":"77326961-1","lifeform":"","climate"...
1431674  {"powoid":"3310127-4","lifeform":"","climate":...
1431675  {"powoid":"3310939-4","lifeform":"","climate":...
1431676  {"powoid":"3310954-4","lifeform":"","climate":...

                                                references
0        https://powo.science.kew.org/taxon/urn:lsid:ip...
1        https://powo.science.kew.org/taxon/urn:lsid:ip...
2        https://powo.science.kew.org/taxon/urn:lsid:ip...
3        https://powo.science.kew.org/taxon/urn:lsid:ip...
4        https://powo.science.kew.org/taxon/urn:lsid:ip...
...                                                    ...
1431672  https://powo.science.kew.org/taxon/urn:lsid:ip...
1431673  https://powo.science.kew.org/taxon/urn:lsid:ip...
1431674  https://powo.science.kew.org/taxon/urn:lsid:ip...
1431675  https://powo.science.kew.org/taxon/urn:lsid:ip...
1431676  https://powo.science.kew.org/taxon/urn:lsid:ip...

[1431677 rows x 18 columns]>

In [8]:
taxon_names.describe(include='all')

,taxonid,family,genus,specificepithet,infraspecificepithet,scientfiicname,scientfiicnameauthorship,taxonrank,taxonomicstatus,acceptednameusageid,parentnameusageid,originalnameusageid,namepublishedin,nomenclaturalstatus,taxonremarks,scientificnameid,dynamicproperties,references
count,1.431677e+06,1431677,1431677,1389808,353588,1431677,1411467,1428977,1431677,1.391577e+06,4.571990e+05,4.187110e+05,1431615,96412,440884,1288754,1431677,1431677
unique,NaN,460,39700,183817,71673,1378159,239200,31,10,NaN,NaN,NaN,844581,1243,67781,1288754,1431677,1431677
top,NaN,Asteraceae,Hieracium,vulgaris,minor,Rosa inermis,DC.,Species,Synonym,NaN,NaN,NaN,Unknown,", nom. illeg.",Madagascar,ipni:77326961-1,"{""powoid"":""3310954-4"",""lifeform"":"""",""climate"":...",https://powo.science.kew.org/taxon/urn:lsid:ip...
freq,NaN,137279,20329,2935,2463,10,10070,1036226,870674,NaN,NaN,NaN,20591,38270,6875,1,1,1
mean,1.870204e+06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.875632e+06,1.815626e+06,1.783461e+06,NaN,NaN,NaN,NaN,NaN,NaN
std,1.258912e+06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.275370e+06,1.257592e+06,1.266355e+06,NaN,NaN,NaN,NaN,NaN,NaN
min,1.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000e+00,1.000000e+00,3.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN
25%,3.629540e+05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.655930e+05,2.716420e+05,2.986465e+05,NaN,NaN,NaN,NaN,NaN,NaN
50%,2.533248e+06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.533460e+06,2.499375e+06,2.479186e+06,NaN,NaN,NaN,NaN,NaN,NaN
75%,2.930028e+06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.982631e+06,2.825909e+06,2.847358e+06,NaN,NaN,NaN,NaN,NaN,NaN
max,3.310955e+06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.310954e+06,3.310038e+06,3.310952e+06,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
taxon_names.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1431677 entries, 0 to 1431676
Data columns (total 18 columns):
 #   Column                    Non-Null Count    Dtype
---  ------                    --------------    -----
 0   taxonid                   1431677 non-null  int64
 1   family                    1431677 non-null  object
 2   genus                     1431677 non-null  object
 3   specificepithet           1389808 non-null  object
 4   infraspecificepithet      353588 non-null   object
 5   scientfiicname            1431677 non-null  object
 6   scientfiicnameauthorship  1411467 non-null  object
 7   taxonrank                 1428977 non-null  object
 8   taxonomicstatus           1431677 non-null  object
 9   acceptednameusageid       1391577 non-null  float64
 10  parentnameusageid         457199 non-null   float64
 11  originalnameusageid       418711 non-null   float64
 12  namepublishedin           1431615 non-null  object
 13  nomenclaturalstatus       96412 non-null    object
 14  taxonremarks              440884 non-null   object
 15  scientificnameid          1288754 non-null  object
 16  dynamicproperties         1431677 non-null  object
 17  references                1431677 non-null  object
dtypes: float64(3), int64(1), object(14)
memory usage: 196.6+ MB

In [10]:
taxon_names.columns

Index(['taxonid', 'family', 'genus', 'specificepithet', 'infraspecificepithet',
       'scientfiicname', 'scientfiicnameauthorship', 'taxonrank',
       'taxonomicstatus', 'acceptednameusageid', 'parentnameusageid',
       'originalnameusageid', 'namepublishedin', 'nomenclaturalstatus',
       'taxonremarks', 'scientificnameid', 'dynamicproperties', 'references'],
      dtype='object')

In [11]:
taxon_names.dtypes

taxonid                       int64
family                       object
genus                        object
specificepithet              object
infraspecificepithet         object
scientfiicname               object
scientfiicnameauthorship     object
taxonrank                    object
taxonomicstatus              object
acceptednameusageid         float64
parentnameusageid           float64
originalnameusageid         float64
namepublishedin              object
nomenclaturalstatus          object
taxonremarks                 object
scientificnameid             object
dynamicproperties            object
references                   object
dtype: object

Looking for Nan values

In [12]:
taxon_names.isnull().any()

taxonid                     False
family                      False
genus                       False
specificepithet              True
infraspecificepithet         True
scientfiicname              False
scientfiicnameauthorship     True
taxonrank                    True
taxonomicstatus             False
acceptednameusageid          True
parentnameusageid            True
originalnameusageid          True
namepublishedin              True
nomenclaturalstatus          True
taxonremarks                 True
scientificnameid             True
dynamicproperties           False
references                  False
dtype: bool

Missing values

In [13]:
missing = taxon_names.isnull().sum()
print("Missing values per column:\n", missing)

Missing values per column:
 taxonid                           0
family                            0
genus                             0
specificepithet               41869
infraspecificepithet        1078089
scientfiicname                    0
scientfiicnameauthorship      20210
taxonrank                      2700
taxonomicstatus                   0
acceptednameusageid           40100
parentnameusageid            974478
originalnameusageid         1012966
namepublishedin                  62
nomenclaturalstatus         1335265
taxonremarks                 990793
scientificnameid             142923
dynamicproperties                 0
references                        0
dtype: int64

Using fillna to replace missing values with 'unkown'

In [14]:
taxon_names['specificepithet'].fillna('Unknown', inplace=True)
taxon_names['infraspecificepithet'].fillna('Unknown', inplace=True)
taxon_names['scientfiicnameauthorship'].fillna('Unknown', inplace=True)
taxon_names['taxonrank'].fillna('Unknown', inplace=True)
taxon_names['acceptednameusageid'].fillna('Unknown', inplace=True)
taxon_names['parentnameusageid'].fillna('Unknown', inplace=True)
taxon_names['originalnameusageid'].fillna('Unknown', inplace=True)
taxon_names['namepublishedin'].fillna('Unknown', inplace=True)
taxon_names['nomenclaturalstatus'].fillna('Unknown', inplace=True)
taxon_names['taxonremarks'].fillna('Unknown', inplace=True)
taxon_names['scientificnameid'].fillna('Unknown', inplace=True)
taxon_names

/var/folders/ft/2nftg5q91n5dhpf5dtts4gkm0000gn/T/ipykernel_27560/908720541.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  taxon_names['specificepithet'].fillna('Unknown', inplace=True)
/var/folders/ft/2nftg5q91n5dhpf5dtts4gkm0000gn/T/ipykernel_27560/908720541.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  taxon_names['infraspecificepithet'].fillna('Unknown', inplace=True)
/var/folders/ft/2nftg5q91n5dhpf5dtts4gkm0000gn/T/ipykernel_27560/908720541.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  taxon_names['scientfiicnameauthorship'].fillna('Unknown', inplace=True)
/var/folders/ft/2nftg5q91n5dhpf5dtts4gkm0000gn/T/ipykernel_27560/908720541.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  taxon_names['taxonrank'].fillna('Unknown', inplace=True)
/var/folders/ft/2nftg5q91n5dhpf5dtts4gkm0000gn/T/ipykernel_27560/908720541.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  taxon_names['acceptednameusageid'].fillna('Unknown', inplace=True)
/var/folders/ft/2nftg5q91n5dhpf5dtts4gkm0000gn/T/ipykernel_27560/908720541.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Unknown' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  taxon_names['acceptednameusageid'].fillna('Unknown', inplace=True)
/var/folders/ft/2nftg5q91n5dhpf5dtts4gkm0000gn/T/ipykernel_27560/908720541.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  taxon_names['parentnameusageid'].fillna('Unknown', inplace=True)
/var/folders/ft/2nftg5q91n5dhpf5dtts4gkm0000gn/T/ipykernel_27560/908720541.py:6: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Unknown' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  taxon_names['parentnameusageid'].fillna('Unknown', inplace=True)
/var/folders/ft/2nftg5q91n5dhpf5dtts4gkm0000gn/T/ipykernel_27560/908720541.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  taxon_names['originalnameusageid'].fillna('Unknown', inplace=True)
/var/folders/ft/2nftg5q91n5dhpf5dtts4gkm0000gn/T/ipykernel_27560/908720541.py:7: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Unknown' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  taxon_names['originalnameusageid'].fillna('Unknown', inplace=True)
/var/folders/ft/2nftg5q91n5dhpf5dtts4gkm0000gn/T/ipykernel_27560/908720541.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  taxon_names['namepublishedin'].fillna('Unknown', inplace=True)
/var/folders/ft/2nftg5q91n5dhpf5dtts4gkm0000gn/T/ipykernel_27560/908720541.py:9: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  taxon_names['nomenclaturalstatus'].fillna('Unknown', inplace=True)
/var/folders/ft/2nftg5q91n5dhpf5dtts4gkm0000gn/T/ipykernel_27560/908720541.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  taxon_names['taxonremarks'].fillna('Unknown', inplace=True)
/var/folders/ft/2nftg5q91n5dhpf5dtts4gkm0000gn/T/ipykernel_27560/908720541.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  taxon_names['scientificnameid'].fillna('Unknown', inplace=True)

,taxonid,family,genus,specificepithet,infraspecificepithet,scientfiicname,scientfiicnameauthorship,taxonrank,taxonomicstatus,acceptednameusageid,parentnameusageid,originalnameusageid,namepublishedin,nomenclaturalstatus,taxonremarks,scientificnameid,dynamicproperties,references
0,3152012,Polypodiaceae,Elaphoglossum,discolor,Unknown,Elaphoglossum discolor,(Kuhn) C.Chr.,Species,Accepted,3152012.0,3189746.0,3179959.0,Index Filic.: 306 (1905),Unknown,S. Trop. America,ipni:89115-2,"{""powoid"":""89115-2"",""lifeform"":""epiphyte"",""cli...",https://powo.science.kew.org/taxon/urn:lsid:ip...
1,2741565,Crassulaceae,Crassula,capensis,Unknown,Crassula capensis,(L.) Baill.,Species,Accepted,2741565.0,2741460.0,2490224.0,Hist. Pl. 3: 312 (1871),Unknown,Cape Prov.,ipni:273023-1,"{""powoid"":""273023-1"",""lifeform"":""succulent tub...",https://powo.science.kew.org/taxon/urn:lsid:ip...
2,2455231,Boraginaceae,Varronia,ambigua,Unknown,Varronia ambigua,(Schltdl. & Cham.) Borhidi,Species,Accepted,2455231.0,2455234.0,2736533.0,Acta Bot. Hung. 34: 388 (1988),Unknown,S. Mexico,ipni:286673-2,"{""powoid"":""286673-2"",""lifeform"":""scrambling sh...",https://powo.science.kew.org/taxon/urn:lsid:ip...
3,2477793,Acanthaceae,Staurogyne,itatiaiae,Unknown,Staurogyne itatiaiae,(Wawra) Leonard,Species,Accepted,2477793.0,2477851.0,2780477.0,J. Washington Acad. Sci. 27: 402 (1937),Unknown,"Brazil (Rio de Janeiro, São Paulo)",ipni:243608-2,"{""powoid"":""243608-2"",""lifeform"":""subshrub or s...",https://powo.science.kew.org/taxon/urn:lsid:ip...
4,2508878,Polygonaceae,Muehlenbeckia,australis,Unknown,Muehlenbeckia australis,(G.Forst.) Meisn.,Species,Accepted,2508878.0,2508883.0,2729161.0,Pl. Vasc. Gen. 1: 227 (1839),Unknown,"Norfolk I., New Zealand",ipni:694738-1,"{""powoid"":""694738-1"",""lifeform"":""climbing shru...",https://powo.science.kew.org/taxon/urn:lsid:ip...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1431672,3308072,Rosaceae,Pugetia,magnieri,Unknown,Pugetia magnieri,Gand.,Species,Provisionally Accepted,Unknown,2962450.0,Unknown,Tabul. Rhodolog.: 277 (1881),Unknown,France,ipni:77328664-1,"{""powoid"":""77328664-1"",""lifeform"":"""",""climate""...",https://powo.science.kew.org/taxon/urn:lsid:ip...
1431673,3308782,Orchidaceae,Sarcoglottis,esseri,Unknown,Sarcoglottis esseri,W.Bull,Species,Provisionally Accepted,Unknown,185163.0,Unknown,Nursery Cat. (William Bull) 1863: 6 (1863),Unknown,Costa Rica,ipni:77326961-1,"{""powoid"":""77326961-1"",""lifeform"":"""",""climate""...",https://powo.science.kew.org/taxon/urn:lsid:ip...
1431674,3310127,Calceolariaceae,Calceolaria,tricolor,Unknown,Calceolaria tricolor,Reider,Species,Provisionally Accepted,Unknown,2690889.0,Unknown,Ann. Blumisterei Gartenbesitz. 10: 179 (1834),Unknown,Unknown,Unknown,"{""powoid"":""3310127-4"",""lifeform"":"""",""climate"":...",https://powo.science.kew.org/taxon/urn:lsid:ip...
1431675,3310939,Rosaceae,Rubus,rigidus,Unknown,Rubus rigidus,Mercier,Species,Provisionally Accepted,Unknown,2976315.0,Unknown,"Cat. Pl. Vasc. Genève, éd. 2: 274 (1861)",", nom. illeg.",France (Jura),Unknown,"{""powoid"":""3310939-4"",""lifeform"":"""",""climate"":...",https://powo.science.kew.org/taxon/urn:lsid:ip...
1431676,3310954,Scrophulariaceae,Nemesia,compacta,Unknown,Nemesia × compacta,(Voss) Anon.,Species,Provisionally Accepted,Unknown,2382653.0,2382675.0,Sunset Mag. 69: 39 (1932),Unknown,Unknown,Unknown,"{""powoid"":""3310954-4"",""lifeform"":"""",""climate"":...",https://powo.science.kew.org/taxon/urn:lsid:ip...

In [15]:
print(taxon_names.isnull().sum())

taxonid                     0
family                      0
genus                       0
specificepithet             0
infraspecificepithet        0
scientfiicname              0
scientfiicnameauthorship    0
taxonrank                   0
taxonomicstatus             0
acceptednameusageid         0
parentnameusageid           0
originalnameusageid         0
namepublishedin             0
nomenclaturalstatus         0
taxonremarks                0
scientificnameid            0
dynamicproperties           0
references                  0
dtype: int64

In [16]:
unique_values = {col: taxon_names[col].unique() for col in taxon_names.columns}

for column, unique_value in unique_values.items():
    print(f"Unique values in column '{column}': {unique_value}")

Unique values in column 'taxonid': [3152012 2741565 2455231 ... 3310127 3310939 3310954]
Unique values in column 'family': ['Polypodiaceae' 'Crassulaceae' 'Boraginaceae' 'Acanthaceae'
 'Polygonaceae' 'Gesneriaceae' 'Asteraceae' 'Phyllanthaceae'
 'Aspleniaceae' 'Poaceae' 'Campanulaceae' 'Caryophyllaceae'
 'Anacardiaceae' 'Polemoniaceae' 'Fabaceae' 'Ericaceae' 'Orchidaceae'
 'Apiaceae' 'Juncaceae' 'Smilacaceae' 'Cucurbitaceae' 'Clusiaceae'
 'Arecaceae' 'Proteaceae' 'Loranthaceae' 'Brassicaceae' 'Lamiaceae'
 'Calophyllaceae' 'Begoniaceae' 'Cyperaceae' 'Euphorbiaceae' 'Annonaceae'
 'Zingiberaceae' 'Aizoaceae' 'Plumbaginaceae' 'Rosaceae' 'Rhamnaceae'
 'Caprifoliaceae' 'Cactaceae' 'Araliaceae' 'Urticaceae' 'Bromeliaceae'
 'Malvaceae' 'Menispermaceae' 'Salicaceae' 'Convolvulaceae'
 'Amaranthaceae' 'Rubiaceae' 'Plantaginaceae' 'Sapotaceae' 'Iridaceae'
 'Bignoniaceae' 'Fagaceae' 'Podocarpaceae' 'Araceae' 'Chrysobalanaceae'
 'Primulaceae' 'Asphodelaceae' 'Aristolochiaceae' 'Pinaceae'
 'Nymphaeaceae' 'Apocynaceae' 'Betulaceae' 'Elaeocarpaceae'
 'Portulacaceae' 'Calceolariaceae' 'Gentianaceae' 'Malpighiaceae'
 'Lauraceae' 'Violaceae' 'Hydrocharitaceae' 'Zygophyllaceae'
 'Dioscoreaceae' 'Erythroxylaceae' 'Styracaceae' 'Cyatheaceae'
 'Cunoniaceae' 'Symplocaceae' 'Amaryllidaceae' 'Sapindaceae' 'Verbenaceae'
 'Lanariaceae' 'Myrtaceae' 'Colchicaceae' 'Ochnaceae' 'Scrophulariaceae'
 'Passifloraceae' 'Lythraceae' 'Aquifoliaceae' 'Pentaphylacaceae'
 'Cistaceae' 'Geraniaceae' 'Melastomataceae' 'Asparagaceae' 'Zamiaceae'
 'Ranunculaceae' 'Celastraceae' 'Berberidaceae' 'Pteridaceae'
 'Polygalaceae' 'Lecythidaceae' 'Thurniaceae' 'Caricaceae' 'Basellaceae'
 'Montiaceae' 'Rutaceae' 'Orobanchaceae' 'Melanthiaceae' 'Vitaceae'
 'Papaveraceae' 'Dennstaedtiaceae' 'Alismataceae' 'Linderniaceae'
 'Meliaceae' 'Commelinaceae' 'Phrymaceae' 'Balsaminaceae' 'Loganiaceae'
 'Diapensiaceae' 'Pittosporaceae' 'Monimiaceae' 'Moraceae' 'Solanaceae'
 'Lindsaeaceae' 'Dipterocarpaceae' 'Pandanaceae' 'Opiliaceae' 'Liliaceae'
 'Dilleniaceae' 'Staphyleaceae' 'Onagraceae' 'Schizaeaceae' 'Santalaceae'
 'Hypericaceae' 'Cupressaceae' 'Oleaceae' 'Stilbaceae' 'Capparaceae'
 'Selaginellaceae' 'Magnoliaceae' 'Taxaceae' 'Saxifragaceae'
 'Hypoxidaceae' 'Resedaceae' 'Combretaceae' 'Eriocaulaceae' 'Oxalidaceae'
 'Goodeniaceae' 'Theaceae' 'Loasaceae' 'Marcgraviaceae' 'Francoaceae'
 'Stemonuraceae' 'Gleicheniaceae' 'Dichapetalaceae' 'Pedaliaceae'
 'Myristicaceae' 'Hypodematiaceae' 'Restionaceae' 'Connaraceae'
 'Frankeniaceae' 'Grossulariaceae' 'Rafflesiaceae' 'Schisandraceae'
 'Olacaceae' 'Podostemaceae' 'Musaceae' 'Achariaceae' 'Balanophoraceae'
 'Burmanniaceae' 'Saccolomataceae' 'Burseraceae' 'Molluginaceae'
 'Phellinaceae' 'Typhaceae' 'Cornaceae' 'Linaceae' 'Lentibulariaceae'
 'Cleomaceae' 'Cannabaceae' 'Akaniaceae' 'Thymelaeaceae' 'Nothofagaceae'
 'Tofieldiaceae' 'Marantaceae' 'Hymenophyllaceae' 'Lycopodiaceae'
 'Piperaceae' 'Dipteridaceae' 'Heliconiaceae' 'Pontederiaceae'
 'Gelsemiaceae' 'Simaroubaceae' 'Haloragaceae' 'Equisetaceae'
 'Ophioglossaceae' 'Juglandaceae' 'Costaceae' 'Picrodendraceae'
 'Ebenaceae' 'Isoetaceae' 'Peraceae' 'Bruniaceae' 'Putranjivaceae'
 'Winteraceae' 'Siparunaceae' 'Pandaceae' 'Hernandiaceae' 'Escalloniaceae'
 'Casuarinaceae' 'Nitrariaceae' 'Viburnaceae' 'Hydroleaceae' 'Talinaceae'
 'Actinidiaceae' 'Ixioliriaceae' 'Elatinaceae' 'Nyctaginaceae'
 'Potamogetonaceae' 'Bixaceae' 'Vochysiaceae' 'Lardizabalaceae' 'Buxaceae'
 'Ulmaceae' 'Elaeagnaceae' 'Paeoniaceae' 'Nartheciaceae' 'Hydrangeaceae'
 'Gnetaceae' 'Daphniphyllaceae' 'Cardiopteridaceae' 'Chloranthaceae'
 'Stemonaceae' 'Petiveriaceae' 'Icacinaceae' 'Rhizophoraceae'
 'Araucariaceae' 'Penaeaceae' 'Triuridaceae' 'Sarcolaenaceae'
 'Crossosomataceae' 'Apodanthaceae' 'Cymodoceaceae' 'Marsileaceae'
 'Zosteraceae' 'Psilotaceae' 'Gunneraceae' 'Alstroemeriaceae' 'Xyridaceae'
 'Lophiocarpaceae' 'Tropaeolaceae' 'Stylidiaceae' 'Philydraceae'
 'Menyanthaceae' 'Flagellariaceae' 'Velloziaceae' 'Hamamelidaceae'
 'Tamaricaceae' 'Clethraceae' 'Limnanthaceae' 'Sabiaceae' 'Nyssaceae'
 'Humiriaceae' 'Calyceraceae' 'Asteliaceae' 'Xeronemataceae'
 'Sphaerosepalaceae' 'Droseraceae' 'Metteniusaceae' 'Limeaceae'
 'Osmundaceae' 'Martyniaceae' 'Marattiaceae' 'Myricaceae' 'Mazaceae'
 'Posidoniaceae' 'Juncaginaceae' 'Ephedraceae' 'Phytolaccaceae'
 'Sarraceniaceae' 'Helwingiaceae' 'Microteaceae' 'Ceratophyllaceae'
 'Garryaceae' 'Aponogetonaceae' 'Pennantiaceae' 'Corsiaceae'
 'Anacampserotaceae' 'Tovariaceae' 'Haemodoraceae' 'Argophyllaceae'
 'Ixonanthaceae' 'Lonchitidaceae' 'Canellaceae' 'Cycadaceae'
 'Nepenthaceae' 'Atherospermataceae' 'Picramniaceae' 'Cannaceae'
 'Philesiaceae' 'Boryaceae' 'Ruppiaceae' 'Vahliaceae' 'Kirkiaceae'
 'Montiniaceae' 'Alseuosmiaceae' 'Euphroniaceae' 'Didymochlaenaceae'
 'Altingiaceae' 'Pentadiplandraceae' 'Platanaceae' 'Bonnetiaceae'
 'Gisekiaceae' 'Calycanthaceae' 'Cyrillaceae' 'Hanguanaceae'
 'Blandfordiaceae' 'Ancistrocladaceae' 'Columelliaceae' 'Schoepfiaceae'
 'Cynomoriaceae' 'Ginkgoaceae' 'Irvingiaceae' 'Quillajaceae'
 'Gomortegaceae' 'Achatocarpaceae' 'Trigoniaceae' 'Sciadopityaceae'
 'Cyclanthaceae' 'Salvadoraceae' 'Cytinaceae' 'Campynemataceae'
 'Paulowniaceae' 'Paracryphiaceae' 'Trimeniaceae' 'Carlemanniaceae'
 'Degeneriaceae' 'Rapateaceae' 'Stachyuraceae' 'Strelitziaceae'
 'Moringaceae' 'Nelumbonaceae' 'Caryocaraceae' 'Cephalotaxaceae'
 'Didiereaceae' 'Kewaceae' 'Anisophylleaceae' 'Rousseaceae' 'Acoraceae'
 'Tecophilaeaceae' 'Crypteroniaceae' 'Dipentodontaceae' 'Iteaceae'
 'Griseliniaceae' 'Stegnospermataceae' 'Hydrostachyaceae' 'Butomaceae'
 'Mayacaceae' 'Brunelliaceae' 'Cercidiphyllaceae' 'Pentaphragmataceae'
 'Cabombaceae' 'Coriariaceae' 'Krameriaceae' 'Mitrastemonaceae'
 'Grubbiaceae' 'Simmondsiaceae' 'Geissolomataceae' 'Gyrostemonaceae'
 'Schlegeliaceae' 'Fouquieriaceae' 'Dasypogonaceae' 'Balanopaceae'
 'Surianaceae' 'Thomandersiaceae' 'Lacistemataceae' 'Cystodiaceae'
 'Myodocarpaceae' 'Datiscaceae' 'Aphloiaceae' 'Rhabdodendraceae'
 'Hydatellaceae' 'Salviniaceae' 'Penthoraceae' 'Alzateaceae' 'Lowiaceae'
 'Neuradaceae' 'Drosophyllaceae' 'Petrosaviaceae' 'Phyllonomaceae'
 'Joinvilleaceae' 'Misodendraceae' 'Scheuchzeriaceae' 'Himantandraceae'
 'Gigaspermaceae' 'Centroplacaceae' 'Welwitschiaceae' 'Saururaceae'
 'Roridulaceae' 'Tetramelaceae' 'Doryanthaceae' 'Torricelliaceae'
 'Dioncophyllaceae' 'Aphanopetalaceae' 'Lophopyxidaceae'
 'Trochodendraceae' 'Oncothecaceae' 'Halophytaceae' 'Strasburgeriaceae'
 'Curtisiaceae' 'Myrothamnaceae' 'Corynocarpaceae' 'Asteropeiaceae'
 'Eupteleaceae' 'Bataceae' 'Matoniaceae' 'Sarcobataceae' 'Goupiaceae'
 'Incertae_sedis' 'Tapisciaceae' 'Ticodendraceae' 'Berberidopsidaceae'
 'Peridiscaceae' 'Lepidobotryaceae' 'Physenaceae' 'Ripogonaceae'
 'Tetrameristaceae' 'Cephalotaceae' 'Setchellanthaceae' 'Maundiaceae'
 'Byblidaceae' 'Biebersteiniaceae' 'Cochlospermaceae' 'Tetrachondraceae'
 'Ecdeiocoleaceae' 'Barbeyaceae' 'Circaeasteraceae' 'Dirachmaceae'
 'Petermanniaceae' 'Austrobaileyaceae' 'Plocospermataceae' 'Aextoxicaceae'
 'Sphenocleaceae' 'Macarthuriaceae' 'Gerrardinaceae' 'Huaceae'
 'Emblingiaceae' 'Sladeniaceae' 'Eupomatiaceae' 'Guamatelaceae'
 'Muntingiaceae' 'Ctenolophonaceae' 'Koeberliniaceae' 'Tiganophytaceae'
 'Eucommiaceae' 'Amborellaceae' 'Tetracarpaeaceae' 'Barbeuiaceae'
 'Petenaeaceae' 'Buddlejaceae']
Unique values in column 'genus': ['Elaphoglossum' 'Crassula' 'Varronia' ... 'Singana' 'Hylogymnocalycium'
 'Liguparasenecio']
Unique values in column 'specificepithet': ['discolor' 'capensis' 'ambigua' ... 'aksarayense' 'brachyandoides'
 'westcottii']
Unique values in column 'infraspecificepithet': ['Unknown' 'eichingeri' 'lucida' ... 'uncinatulum' 'rakosiense'
 'backhouseanum']
Unique values in column 'scientfiicname': ['Elaphoglossum discolor' 'Crassula capensis' 'Varronia ambigua' ...
 'Sarcoglottis esseri' 'Calceolaria tricolor' 'Nemesia × compacta']
Unique values in column 'scientfiicnameauthorship': ['(Kuhn) C.Chr.' '(L.) Baill.' '(Schltdl. & Cham.) Borhidi' ...
 '(Barnhart) Rickett' 'Mett. ex Diels' '(Hillebr.) Miles K.Thomas']
Unique values in column 'taxonrank': ['Species' 'Subspecies' 'Variety' 'nothosubsp.' 'Form' 'proles' 'monstr.'
 'stirps' 'Subvariety' 'Convariety' 'microgène' 'Unknown' 'Genus' 'lusus'
 'Subform' 'nothovar.' 'psp.' 'subproles' 'grex' 'agamosp.' 'microf.'
 'provar.' 'nid' 'nothof.' 'modif.' 'positio' 'subspecioid' 'mut.'
 'micromorphe' 'sublusus' 'group' 'ecas.']
Unique values in column 'taxonomicstatus': ['Accepted' 'Artificial Hybrid' 'Synonym' 'Illegitimate' 'Invalid'
 'Orthographic' 'Provisionally Accepted' 'Local Biotype' 'Unplaced'
 'Misapplied']
Unique values in column 'acceptednameusageid': [3152012.0 2741565.0 2455231.0 ... 93209.0 222062.0 222094.0]
Unique values in column 'parentnameusageid': [3189746.0 2741460.0 2455234.0 ... 2486038.0 3067157.0 3066870.0]
Unique values in column 'originalnameusageid': [3179959.0 2490224.0 2736533.0 ... 517651.0 2584695.0 2382675.0]
Unique values in column 'namepublishedin': ['Index Filic.: 306 (1905)' 'Hist. Pl. 3: 312 (1871)'
 'Acta Bot. Hung. 34: 388 (1988)' ...
 'Ann. Soc. Linn. Lyon, sér. 2, 34: 85 (1888)'
 'Tabul. Rhodolog.: 277 (1881)'
 'Nursery Cat. (William Bull) 1863: 6 (1863)']
Unique values in column 'nomenclaturalstatus': ['Unknown' ', without full basionym' ', nom. cons.' ...
 ', no type details.' ', contrary to Art. 40.6 ICN (2018)'
 ', no basionym year.']
Unique values in column 'taxonremarks': ['S. Trop. America' 'Cape Prov.' 'S. Mexico' ...
 'WSW. Western Australia (Watheroo)' 'Western Australia (Murrin-Murrin)'
 'France (Jura)']
Unique values in column 'scientificnameid': ['ipni:89115-2' 'ipni:273023-1' 'ipni:286673-2' ... 'ipni:77330292-1'
 'ipni:77328664-1' 'ipni:77326961-1']
Unique values in column 'dynamicproperties': ['{"powoid":"89115-2","lifeform":"epiphyte","climate":"wet tropical","homotypicsynonym":"","hybridformula":"","reviewed":"N"}'
 '{"powoid":"273023-1","lifeform":"succulent tuberous geophyte","climate":"subtropical","homotypicsynonym":"","hybridformula":"","reviewed":"N"}'
 '{"powoid":"286673-2","lifeform":"scrambling shrub","climate":"seasonally dry tropical","homotypicsynonym":"","hybridformula":"","reviewed":"N"}'
 ...
 '{"powoid":"3310127-4","lifeform":"","climate":"","homotypicsynonym":"","hybridformula":"","reviewed":"N"}'
 '{"powoid":"3310939-4","lifeform":"","climate":"","homotypicsynonym":"","hybridformula":"","reviewed":"N"}'
 '{"powoid":"3310954-4","lifeform":"","climate":"","homotypicsynonym":"","hybridformula":"","reviewed":"N"}']
Unique values in column 'references': ['https://powo.science.kew.org/taxon/urn:lsid:ipni.org:names:89115-2'
 'https://powo.science.kew.org/taxon/urn:lsid:ipni.org:names:273023-1'
 'https://powo.science.kew.org/taxon/urn:lsid:ipni.org:names:286673-2' ...
 'https://powo.science.kew.org/taxon/urn:lsid:ipni.org:names:3310127-4'
 'https://powo.science.kew.org/taxon/urn:lsid:ipni.org:names:3310939-4'
 'https://powo.science.kew.org/taxon/urn:lsid:ipni.org:names:3310954-4']

In [17]:
unique_df = pd.DataFrame({column: pd.Series(unique_value) for column, unique_value in unique_values.items()})
unique_df.to_csv('unique_taxon_values.csv', index=False)

In [18]:
test_taxon_df = unique_df.sample(20)
test_taxon_df.to_csv('test_taxon_data.csv', index=False)

Data Models for SQL Database

In [20]:
from sqlalchemy import Engine, create_engine
from sqlalchemy.orm import sessionmaker, Session

In [21]:
from sqlalchemy import (
    Column, String, Integer, Boolean, Float, ForeignKey, Text, create_engine, JSON
)
from sqlalchemy.orm import relationship, DeclarativeBase, mapped_column
from sqlalchemy.orm import Mapped

In [22]:
# Define the base class for our models
class Base(DeclarativeBase):
    pass

class Taxon(Base):
    __tablename__ = "taxon"
    
    taxonid: Mapped[int] = mapped_column(Integer, primary_key=True)
    family_id: Mapped[int] = mapped_column(Integer, ForeignKey("family.id"))
    genus_id: Mapped[int] = mapped_column(Integer, ForeignKey("genus.id"))
    taxonomicstatus_id: Mapped[int] = mapped_column(Integer, ForeignKey("taxonomic_status.id"))
    scientificnameauthorship_id: Mapped[int] = mapped_column(Integer, ForeignKey("scientific_name_authorship.id"))
    scientificname: Mapped[str] = mapped_column(String(255))
    taxonrank: Mapped[str] = mapped_column(String(50))
    references: Mapped[str] = mapped_column(String(255), nullable=True)

    # Relationships
    family: Mapped["Family"] = relationship("Family", back_populates="taxons")
    genus: Mapped["Genus"] = relationship("Genus", back_populates="taxons")
    taxonomic_status: Mapped["TaxonomicStatus"] = relationship("TaxonomicStatus")
    scientific_name_authorship: Mapped["ScientificNameAuthorship"] = relationship("ScientificNameAuthorship")
    
    # Many-to-many relationship with References
    references: Mapped[list["Reference"]] = relationship("Reference", secondary="taxon_reference")

    # Relationship with DynamicProperties
    dynamic_properties: Mapped[list["DynamicProperty"]] = relationship("DynamicProperty", back_populates="taxon")

    def __repr__(self):
        return f"<Taxon(taxonid={self.taxonid}, scientificname={self.scientificname})>"


# Family Model
class Family(Base):
    __tablename__ = "family"
    
    id: Mapped[int] = mapped_column(Integer, primary_key=True)
    name: Mapped[str] = mapped_column(String(255), unique=True)

    # Relationship with Taxon
    taxons: Mapped[list["Taxon"]] = relationship("Taxon", back_populates="family", cascade="all, delete-orphan")
    
    def __repr__(self):
        return f"<Family(name={self.name})>"

# Genus Model
class Genus(Base):
    __tablename__ = "genus"
    
    id: Mapped[int] = mapped_column(Integer, primary_key=True)
    name: Mapped[str] = mapped_column(String(255), unique=True)

    # Relationship with Taxon
    taxons: Mapped[list["Taxon"]] = relationship("Taxon", back_populates="genus", cascade="all, delete-orphan")
    
    def __repr__(self):
        return f"<Genus(name={self.name})>"

class TaxonomicStatus(Base):
    __tablename__ = "taxonomic_status"
    
    id: Mapped[int] = mapped_column(Integer, primary_key=True)
    status: Mapped[str] = mapped_column(String(100), unique=True)

    def __repr__(self):
        return f"<TaxonomicStatus(status={self.status})>"

class Reference(Base):
    __tablename__ = "reference"
    
    id: Mapped[int] = mapped_column(Integer, primary_key=True)
    citation: Mapped[str] = mapped_column(String(255))
    url: Mapped[str] = mapped_column(String(255), nullable=True)
    
    # Relationship with Taxon
    taxons: Mapped[list["Taxon"]] = relationship("Taxon", secondary="taxon_reference")

    def __repr__(self):
        return f"<Reference(citation={self.citation}, url={self.url})>"

class TaxonReference(Base):
    __tablename__ = "taxon_reference"
    
    taxon_id: Mapped[int] = mapped_column(Integer, ForeignKey("taxon.taxonid"), primary_key=True)
    reference_id: Mapped[int] = mapped_column(Integer, ForeignKey("reference.id"), primary_key=True)

class ScientificNameAuthorship(Base):
    __tablename__ = "scientific_name_authorship"
    
    id: Mapped[int] = mapped_column(Integer, primary_key=True)
    authorship: Mapped[str] = mapped_column(String(255))

    # Relationship with Taxon
    taxons: Mapped[list["Taxon"]] = relationship("Taxon", back_populates="scientific_name_authorship")

    def __repr__(self):
        return f"<ScientificNameAuthorship(authorship={self.authorship})>"

class DynamicProperty(Base):
    __tablename__ = "dynamic_property"
    
    id: Mapped[int] = mapped_column(Integer, primary_key=True)
    key: Mapped[str] = mapped_column(String(100))
    value: Mapped[str] = mapped_column(String(255))
    taxon_id: Mapped[int] = mapped_column(Integer, ForeignKey("taxon.taxonid"))

    # Relationship with Taxon
    taxon: Mapped["Taxon"] = relationship("Taxon", back_populates="dynamic_properties")

    def __repr__(self):
        return f"<DynamicProperty(key={self.key}, value={self.value})>"

In [23]:
DATABASE_URL = "sqlite:///taxon_data.db"  
engine = create_engine(DATABASE_URL, echo=True)

# Create tables in the database
Base.metadata.create_all(engine)

# Create a session
Session = sessionmaker(bind=engine)
session = Session()

2025-01-23 09:38:12,124 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-01-23 09:38:12,125 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("taxon")
2025-01-23 09:38:12,125 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-01-23 09:38:12,128 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("family")
2025-01-23 09:38:12,128 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-01-23 09:38:12,129 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("genus")
2025-01-23 09:38:12,130 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-01-23 09:38:12,131 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("taxonomic_status")
2025-01-23 09:38:12,133 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-01-23 09:38:12,134 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("reference")
2025-01-23 09:38:12,135 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-01-23 09:38:12,137 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("taxon_reference")
2025-01-23 09:38:12,138 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-01-23 09:38:12,139 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("scientific_name_authorship")
2025-01-23 09:38:12,140 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-01-23 09:38:12,141 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("dynamic_property")
2025-01-23 09:38:12,142 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-01-23 09:38:12,143 INFO sqlalchemy.engine.Engine COMMIT

In [ ]:
import pandas as pd

In [ ]:
path = r'C:\Users\hp\workspace\testing\Docs\wcvp_dwca\Wcvp_replacementnames.csv'

In [ ]:
replacement_names = pd.read_csv(path, sep='|')
replacement_names

       taxonid  relatednameusageid      relationtype              remarks
0      3138590             3268232  replacement name                  NaN
1      3268280             3268278  replacement name                  NaN
2      3138668             3268318  replacement name                  NaN
3      3268475             3268474  replacement name                  NaN
4      3208366             3138826  replacement name  , not validly publ.
...        ...                 ...               ...                  ...
42313  3137950             3139391  replacement name                  NaN
42314  3138067             3139695  replacement name                  NaN
42315  3216969             3139621  replacement name                  NaN
42316  3223480             3223481  replacement name                  NaN
42317  3213141             3140918  replacement name      , nom. superfl.

[42318 rows x 4 columns]

In [ ]:
replacement_names.head(10)

   taxonid  relatednameusageid      relationtype              remarks
0  3138590             3268232  replacement name                  NaN
1  3268280             3268278  replacement name                  NaN
2  3138668             3268318  replacement name                  NaN
3  3268475             3268474  replacement name                  NaN
4  3208366             3138826  replacement name  , not validly publ.
5  3268636             3141221  replacement name                  NaN
6  3219986             3141235  replacement name        , nom. illeg.
7  3138910             3141279  replacement name                  NaN
8  3138922             3268984  replacement name                  NaN
9  3230430             3230433  replacement name                  NaN

In [ ]:
replacement_names.shape

(42318, 4)

In [ ]:
replacement_names.describe

<bound method NDFrame.describe of        taxonid  relatednameusageid      relationtype              remarks
0      3138590             3268232  replacement name                  NaN
1      3268280             3268278  replacement name                  NaN
2      3138668             3268318  replacement name                  NaN
3      3268475             3268474  replacement name                  NaN
4      3208366             3138826  replacement name  , not validly publ.
...        ...                 ...               ...                  ...
42313  3137950             3139391  replacement name                  NaN
42314  3138067             3139695  replacement name                  NaN
42315  3216969             3139621  replacement name                  NaN
42316  3223480             3223481  replacement name                  NaN
42317  3213141             3140918  replacement name      , nom. superfl.

[42318 rows x 4 columns]>

In [ ]:
replacement_names.describe(include='all')

             taxonid  relatednameusageid      relationtype          remarks
count   4.231800e+04        4.231800e+04             42318            17439
unique           NaN                 NaN                 1              104
top              NaN                 NaN  replacement name  , nom. superfl.
freq             NaN                 NaN             42318             9983
mean    1.683508e+06        1.623019e+06               NaN              NaN
std     1.272192e+06        1.263452e+06               NaN              NaN
min     4.000000e+01        7.200000e+01               NaN              NaN
25%     3.414720e+05        2.803782e+05               NaN              NaN
50%     2.424909e+06        2.402389e+06               NaN              NaN
75%     2.843554e+06        2.768020e+06               NaN              NaN
max     3.310950e+06        3.310950e+06               NaN              NaN

In [ ]:
replacement_names.info

<bound method DataFrame.info of        taxonid  relatednameusageid      relationtype              remarks
0      3138590             3268232  replacement name                  NaN
1      3268280             3268278  replacement name                  NaN
2      3138668             3268318  replacement name                  NaN
3      3268475             3268474  replacement name                  NaN
4      3208366             3138826  replacement name  , not validly publ.
...        ...                 ...               ...                  ...
42313  3137950             3139391  replacement name                  NaN
42314  3138067             3139695  replacement name                  NaN
42315  3216969             3139621  replacement name                  NaN
42316  3223480             3223481  replacement name                  NaN
42317  3213141             3140918  replacement name      , nom. superfl.

[42318 rows x 4 columns]>

In [ ]:
replacement_names.dtypes

taxonid                int64
relatednameusageid     int64
relationtype          object
remarks               object
dtype: object

In [ ]:
replacement_names.columns

Index(['taxonid', 'relatednameusageid', 'relationtype', 'remarks'], dtype='object')

In [ ]:
replacement_names.isnull().any()

taxonid               False
relatednameusageid    False
relationtype          False
remarks                True
dtype: bool

In [ ]:
missing = replacement_names.isnull().sum()
print("Missing values per column:\n", missing)

Missing values per column:
 taxonid                   0
relatednameusageid        0
relationtype              0
remarks               24879
dtype: int64

In [ ]:
replacement_names['remarks'] = replacement_names['remarks'].fillna('Unknown')
replacement_names

       taxonid  relatednameusageid      relationtype              remarks
0      3138590             3268232  replacement name              Unknown
1      3268280             3268278  replacement name              Unknown
2      3138668             3268318  replacement name              Unknown
3      3268475             3268474  replacement name              Unknown
4      3208366             3138826  replacement name  , not validly publ.
...        ...                 ...               ...                  ...
42313  3137950             3139391  replacement name              Unknown
42314  3138067             3139695  replacement name              Unknown
42315  3216969             3139621  replacement name              Unknown
42316  3223480             3223481  replacement name              Unknown
42317  3213141             3140918  replacement name      , nom. superfl.

[42318 rows x 4 columns]

In [ ]:
print(replacement_names.isnull().sum())

taxonid               0
relatednameusageid    0
relationtype          0
remarks               0
dtype: int64

In [ ]:
unique_values = {col: replacement_names[col].unique() for col in replacement_names.columns}

for column, unique_value in unique_values.items():
    print(f"Unique values in column '{column}': {unique_value}")

Unique values in column 'taxonid': [3138590 3268280 3138668 ... 3216969 3223480 3213141]
Unique values in column 'relatednameusageid': [3268232 3268278 3268318 ... 3139621 3223481 3140918]
Unique values in column 'relationtype': ['replacement name']
Unique values in column 'remarks': ['Unknown' ', not validly publ.' ', nom. illeg.' ', nom. superfl.'
 ', tentatively listed as a synonym.' ', non DC.'
 ', no exact basionym page.' ', nom. provis.' ', without basionym page.'
 ', no full and direct reference to basionym.'
 ', non Reid (1930), fossil name.' ', nom. cons. prop.'
 ', no replaced synonym date.' ', nom. rej.' ', no basionym cited.'
 ', nom. inval.' ', no replaced synonym ref.' ', nom. cons.' ', nom. nud.'
 ', combination not made.' ', with incorrect basionym ref.' ', orth. var.'
 ', nom. subnud.' ', without replaced synonym ref.'
 ', contrary to Art. 6.10. (ICN, 2012).' ', opus utique rej.'
 ', non Swartzia Schreb.' ', without exact replaced synonym page.'
 ', basionym not validly publ.' ', see Art. 52.1 ICBN (1994).'
 ', no replaced synonym page number.' ', without replaced synonym page.'
 ', without replaced synonym ref..' ', no replaced synonym cited.'
 '[Conv. Rar.: 141], nom. superfl.' ', no replaced name ref.'
 ', nom. superfl., nom. rej.' ', non Brot. (1804), fungal name.'
 ', opus utique oppr.' ', contrary to Art. 56 ICBN (1988).'
 ', homonym for var. discolor.' ', nom. altern.'
 ', nom. superfl., nom. rejic.' ', without full replaced synonym ref.'
 ', no basionym ref.' ', not. validly publ.'
 ', contrary to Art. 23.6. (ICN, 2012).' ', without' ', , nom. rej.'
 ', replaced synonym not validly publ.' ', not accepted by the author.'
 ', nom. rej. prop.' ', nom. superf.'
 ', non Ettingsh. (1858), fossil name.' ', non Trattinickia Willd.'
 ', non Engelhardt, fossil name.' ', nom. illeg..' ', nom. suppl.'
 ', with incorrect replaced synonym ref.' ', non Huegelia Rchb.'
 ', nom. illeg., later homonym' ', nom. rejic.'
 ', basionym ref. incomplete.'
 ', non J.J.Scheuchzer ex J.F.Krüger (1825), fossil name.'
 ', non Manchester, fossil name.' ', contrary to Art. 24.3 (ICN, 2012).'
 ', not effectively publ.' ', contrary to Art. 41.5. ICN (2018).'
 ', pro syn.' ', no replaced synonym page.' ', no type indicated.'
 ', incomplete basionym ref.' ', species name not validly publ.'
 ', non J. japonica Thunb. (1784)' ', not valifly publ.'
 ', non Festuca alexeevii.' ', no basionym page' ', no type indicated'
 '[Conv. Or.: 41], nom. superfl.' ', no basionym page.'
 ', nom. utique rej. prop.' ', no page number given.'
 ', contrary to Art. 41 ICN (2012).' ', perhaps a comb. nud.'
 ', replaced synonym ref. incomplete.' ', non C. brownii Torr.'
 ', descriptive, not intended as an epithet.'
 ', not validly publ., comb. not made.' ', genus not validly publ.'
 ', with incorrect basionym.' ', non Dorf (1933), fossil name.'
 ', nom. illeg., non Fenzl (1854).' ', no direct basionym ref.'
 ', species not validly publ.' '[Conv. Or.: 59], nom. superfl.'
 '[Conv. Or.: 100], nom. superfl.' '[Conv. Rar.: 140], nom. superfl.'
 '[Conv. Or.: 92], nom. superfl.' '[Conv. Or.: 52]'
 '[Conv. Or.: 32], nom. superfl.' '[Conv. Or.: 61], nom. superfl.'
 '[Conv. Or.: 111], nom. superfl.'
 ', homonym of a nom. nov. with a different replaced'
 ', not intended as specific epithet.'
 ', non E.W.Berry (1930), fossil name.']

In [ ]:
unique_df = pd.DataFrame({column: pd.Series(unique_value) for column, unique_value in unique_values.items()})
unique_df.to_csv('unique_replacement_names.csv', index=False)

Data Model for SQL Database

In [ ]:
from sqlalchemy import Engine, create_engine
from sqlalchemy.orm import sessionmaker, Session

In [ ]:
from sqlalchemy import (
    Column, String, Integer, Boolean, Float, ForeignKey, Text, create_engine, JSON
)
from sqlalchemy.orm import relationship, DeclarativeBase, mapped_column
from sqlalchemy.orm import Mapped

In [ ]:
class Base(DeclarativeBase):
    pass

class Taxon(Base):
    __tablename__ = "taxon"
    
    taxonid = Column(Integer, primary_key=True)
    scientificname = Column(String(255))  # Example column for taxon name
    related_taxons = relationship("RelatedTaxon", back_populates="taxon")

class RelationType(Base):
    __tablename__ = "relation_type"
    
    id = Column(Integer, primary_key=True)
    name = Column(String(100))  # e.g., synonym, parent-child, misapplied name
    
    # Relationship with RelatedTaxon
    related_taxons = relationship("RelatedTaxon", back_populates="relation_type")

class RelatedTaxon(Base):
    __tablename__ = "related_taxon"
    
    id = Column(Integer, primary_key=True)
    taxonid = Column(Integer, ForeignKey("taxon.taxonid"))
    relatednameusageid = Column(Integer, ForeignKey("taxon.taxonid"))  # Refers to another taxon or related name
    relationtype_id = Column(Integer, ForeignKey("relation_type.id"))
    remarks = Column(String(255))  # Any additional notes about the relationship
    
    # Relationships
    taxon = relationship("Taxon", back_populates="related_taxons")
    related_taxon = relationship("Taxon", foreign_keys=[relatednameusageid])
    relation_type = relationship("RelationType", back_populates="related_taxons")

    def __repr__(self):
        return f"<RelatedTaxon(taxonid={self.taxonid}, relatednameusageid={self.relatednameusageid}, relationtype={self.relation_type.name})>"

In [ ]:
DATABASE_URL = "sqlite:///replacement_name_data.db"  
engine = create_engine(DATABASE_URL, echo=True)

# Create tables in the database
Base.metadata.create_all(engine)

# Create a session
Session = sessionmaker(bind=engine)
session = Session()

2025-01-23 10:53:17,032 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-01-23 10:53:17,034 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("taxon")
2025-01-23 10:53:17,035 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-01-23 10:53:17,037 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("relation_type")
2025-01-23 10:53:17,039 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-01-23 10:53:17,042 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("related_taxon")
2025-01-23 10:53:17,044 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-01-23 10:53:17,046 INFO sqlalchemy.engine.Engine COMMIT